<li class="vd-domain-item vd-domain-item--small{% if styleModifier %} {{ styleModifier }}{% endif %}">
  <a href="{% if url %}{{ url }}{% else %}domaines#{{ name | lower | urlencode }}{% endif %}"
     class="vd-domain-item vd-domain-item--small{% if styleModifier %} {{ styleModifier }}{% endif %} vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">
      {{- name -}}
    </span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>
      {{- description -}}
      <span class="visually-hidden">)</span>
    </span>
  </a>
</li>
