<button
  id="logout-button"
  type="button"
  class="btn btn-primary fs-6"
  data-bs-toggle="collapse"
  data-bs-target="#logout-form-collapse"
  aria-expanded="false"
  aria-controls="logout-form-collapse"
>
  John Doe <span class="fas fa-chevron-down text-white ms-1" id="logout-button-icon"></span>
</button>

<div id="logout-form-collapse" class="border collapse p-3 shadow">
  <div class="d-flex flex-column mb-2">
    <div class="mb-2 mt-2 p-2">
      <a class="btn btn-secondary mb-2 py-2 text-center w-100" href="#">
        Accéder à mon espace sécurisé
        <span class="fas fa-user me-1 text-white"></span>
      </a>
      <a class="btn btn-secondary py-2 text-center w-100" href="#">
        Se déconnecter
      </a>
    </div>
  </div>
</div>
