<div class="embed-responsive embed-responsive-{f:if(condition: '{response.aspectRatioIs4To3}', then: '4by3', else: '16by9')} mb-3">
  {{ text }}
</div>

<div class="tx-mediaoembed-directlink">

  <f:link.external rel="{settings.view.directLink.rel}"
                   target="{settings.view.directLink.target}"
                   uri="{configuration.mediaUrl}">

    <f:if condition="{response.providerName}">
      <f:then>{response.providerName}</f:then>
      <f:else>{provider.name}</f:else>
    </f:if>

    <f:translate id="direct_link"/>

  </f:link.external>

</div>
