

<nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="1" href="#main" title="[Alt+1] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="2" href="#search-form" title="[Alt+2] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Page de contact">Page de contact</a>
      </li>
    </ul>
</nav>

