

<h2 itemprop="name" class="h2 mt-0" >
    <a href="#" itemprop="url">Service name</a>
</h2>


<h3 class="h4">Rechercher l&#39;entité compétente selon la commune ou le numéro postal (NPA)</h3>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="visually-hidden" for="search-form" id="search-form-label">Rechercher l&#39;entité compétente selon la commune ou le numéro postal (NPA)</label>
  <input id="search-form"
         type="text"
         class="form-control"aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>


<ul>
    
    <li><a href="#">Bofflens</a></li>
    
    <li><a href="#">Bogis</a></li>
    
    <li><a href="#">Bonvillard</a></li>
    
</ul>



