

<address itemscope itemtype="http://schema.org/GovernmentOrganization">
  <div
    class="h2 mt-0"
    id="service-contact-title"
    itemprop="name">
    <a
        href="#"
        title="Pages du service Service name"
        id="service-contact-reference-page-link"
        itemprop="url">
        <span class="visually-hidden">Accéder à la page de: </span>
        Service name
      </a>
  </div>

  

  

  

  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">Rue de la Barre 2</span>
        <br>
      Case postale <span itemprop="postOfficeBoxNumber">5278</span>
        <br>
      <span itemprop="postalCode">1000</span>&nbsp;
      <span itemprop="addressLocality">Lausanne</span>
      <span class="visually-hidden" itemprop="addressCountry">Suisse</span>
    </p>

  <p>
      <a
          href="tel:+41 21 123 45 67"
          id="service-contact-phone-link"
          itemprop="telephone">
          +41 21 123 45 67
        </a>
        <br>
      <a
          id="service-contact-email"
          href="mailto:service.departement@vd.ch"
          itemprop="email">
          service.departement@vd.ch
        </a>
        <br>
      <a
          href="https://www.google.ch/maps/search/Rue%20de%20la%20Barre%202%205278%201000%20Lausanne%20Suisse%20"
          id="google-maps-link">
          Visualiser sur la carte Google
        </a>
        <br>
      
    </p>

  <p>
      <a
        class="btn btn-dark"
        id="service-contact-contact-form-link"
        title="Nous écrire Formulaire de contact"
        href="#">
        Nous écrire
      </a>
    </p>

  

  

  
</address>

