

<form class="mb-4">
  <legend>Recherche dans le registre des avocats</legend>

  <div class="mb-3">
    <label for="name">Nom</label>
    <input class="form-control" type="text" id="name" name="name" value="">
  </div>

  <div class="mb-3">
    <label for="category">Catégorie</label>
    <select class="form-control" id="category">
      <option value="">Toutes</option>
      <option value="Avocat Union européenne">Avocat Union européenne</option>
      <option value="Avocat stagiaire">Avocat stagiaire</option>
      <option value="Avocat vaudois">Avocat vaudois</option>
      <option value="Avocat-conseil">Avocat-conseil</option>
    </select>
  </div>
    <div class="mb-3">
    <label for="municipality" id="municipality_label">Commune</label>
    <datalist id="municipalities">
      <select id="municipality" class="form-control">
        <option value="">Toutes</option>
        <option value="Aigle">Aigle</option>
        <option value="Assens">Assens</option>
        <option value="Belmont-Lausanne">Belmont-Lausanne</option>
        <option value="Bex">Bex</option>
        <option value="Bussigny">Bussigny</option>
        <option value="Chamblon">Chamblon</option>
        <option value="Chavannes-des-Bois">Chavannes-des-Bois</option>
        <option value="Chesières">Chesières</option>
        <option value="Château-d'Oex">Château-d'Oex</option>
        <option value="Clarens">Clarens</option>
        <option value="Corcelles-le-Jorat">Corcelles-le-Jorat</option>
        <option value="Cossonay-Ville">Cossonay-Ville</option>
        <option value="Crans-près-Céligny">Crans-près-Céligny</option>
        <option value="Crissier">Crissier</option>
        <option value="Cully">Cully</option>
        <option value="Dully">Dully</option>
        <option value="Epalinges">Epalinges</option>
        <option value="Etoy">Etoy</option>
        <option value="Genève">Genève</option>
        <option value="Gland">Gland</option>
        <option value="Jongny">Jongny</option>
        <option value="Küsnacht ZH">Küsnacht ZH</option>
        <option value="La Conversion">La Conversion</option>
        <option value="La Croix (Lutry)">La Croix (Lutry)</option>
        <option value="La Tour-de-Peilz">La Tour-de-Peilz</option>
        <option value="Lausanne">Lausanne</option>
        <option value="Locarno">Locarno</option>
        <option value="Lucens">Lucens</option>
        <option value="Lutry">Lutry</option>
        <option value="Martigny">Martigny</option>
        <option value="Mies">Mies</option>
        <option value="Monthey">Monthey</option>
        <option value="Montreux">Montreux</option>
        <option value="Morges">Morges</option>
        <option value="Moudon">Moudon</option>
        <option value="Nyon">Nyon</option>
        <option value="Oron-la-Ville">Oron-la-Ville</option>
        <option value="Payerne">Payerne</option>
        <option value="Prilly">Prilly</option>
        <option value="Préverenges">Préverenges</option>
        <option value="Pully">Pully</option>
        <option value="Renens VD">Renens VD</option>
        <option value="Rolle">Rolle</option>
        <option value="Sion">Sion</option>
        <option value="St-Légier-Chiésaz">St-Légier-Chiésaz</option>
        <option value="St-Prex">St-Prex</option>
        <option value="St-Sulpice VD">St-Sulpice VD</option>
        <option value="Tannay">Tannay</option>
        <option value="Vevey">Vevey</option>
        <option value="Villars-sur-Ollon">Villars-sur-Ollon</option>
        <option value="Villeneuve VD">Villeneuve VD</option>
        <option value="Yens">Yens</option>
        <option value="Yverdon-les-Bains">Yverdon-les-Bains</option>
      </select>
    </datalist>
    <input id="municipality" name="municipality" list="municipalities" class="form-control">
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-dark">Envoyer</button>
  </div>

</form>

<h2 class="mb-3">97 résultats trouvés</h2>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Andres Weimann</h3>
  <p class="h4" property="jobTitle">District Metrics Facilitator</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">195 Ellen Mews  1</span><br>
    Case postale <span property="postOfficeBoxNumber">801</span><br>
    <span property="postalCode">1001</span> <span property="addressLocality">South Delbertport</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="visually-hidden" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="visually-hidden">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="visually-hidden">Courriel</span>
          <a href="mailto:" property="email">Jamison82@hotmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">Customer Applications Liaison</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Dr. Rhonda Gibson</h3>
  <p class="h4" property="jobTitle">International Program Designer</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">430 Park Crescent  2</span><br>
    Case postale <span property="postOfficeBoxNumber">802</span><br>
    <span property="postalCode">1002</span> <span property="addressLocality">Imeldastead</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="visually-hidden" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="visually-hidden">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="visually-hidden">Courriel</span>
          <a href="mailto:" property="email">Melvina_Kihn@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">Investor Communications Specialist</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Rick Kemmer</h3>
  <p class="h4" property="jobTitle">Product Response Producer</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">8920 Lolita Knoll  3</span><br>
    Case postale <span property="postOfficeBoxNumber">803</span><br>
    <span property="postalCode">1003</span> <span property="addressLocality">Port Mikel</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="visually-hidden" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="visually-hidden">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="visually-hidden">Courriel</span>
          <a href="mailto:" property="email">Bernadine.Lakin@hotmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">International Marketing Coordinator</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Ms. Beth Schuppe</h3>
  <p class="h4" property="jobTitle">Forward Assurance Officer</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">7146 Cliff Road  4</span><br>
    Case postale <span property="postOfficeBoxNumber">804</span><br>
    <span property="postalCode">1004</span> <span property="addressLocality">Pearland</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="visually-hidden" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="visually-hidden">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="visually-hidden">Courriel</span>
          <a href="mailto:" property="email">Jerod.Schaden1@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">Senior Assurance Associate</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Mrs. Dorothy Runolfsdottir</h3>
  <p class="h4" property="jobTitle">District Group Director</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">668 S Water Street  5</span><br>
    Case postale <span property="postOfficeBoxNumber">805</span><br>
    <span property="postalCode">1005</span> <span property="addressLocality">Leonorfort</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="visually-hidden" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="visually-hidden">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="visually-hidden">Courriel</span>
          <a href="mailto:" property="email">Irma_Ziemann48@yahoo.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">Principal Research Producer</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Judith Abshire</h3>
  <p class="h4" property="jobTitle">Product Usability Supervisor</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">8525 German Square  6</span><br>
    Case postale <span property="postOfficeBoxNumber">806</span><br>
    <span property="postalCode">1006</span> <span property="addressLocality">Lorifurt</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="visually-hidden" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="visually-hidden">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="visually-hidden">Courriel</span>
          <a href="mailto:" property="email">Ansel.Rice@hotmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">Customer Solutions Planner</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Charlotte White-Hayes</h3>
  <p class="h4" property="jobTitle">Regional Directives Analyst</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">6842 Harber Park  7</span><br>
    Case postale <span property="postOfficeBoxNumber">807</span><br>
    <span property="postalCode">1007</span> <span property="addressLocality">Gunnerboro</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="visually-hidden" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="visually-hidden">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="visually-hidden">Courriel</span>
          <a href="mailto:" property="email">Joanie81@yahoo.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">Central Applications Designer</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Mrs. Edith Smith</h3>
  <p class="h4" property="jobTitle">Future Research Specialist</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">8391 Russell Street  8</span><br>
    Case postale <span property="postOfficeBoxNumber">808</span><br>
    <span property="postalCode">1008</span> <span property="addressLocality">Fort Darien</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="visually-hidden" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="visually-hidden">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="visually-hidden">Courriel</span>
          <a href="mailto:" property="email">Euna2@yahoo.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">International Mobility Coordinator</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Edward Weimann Jr.</h3>
  <p class="h4" property="jobTitle">District Paradigm Coordinator</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">432 Chelsea Spurs  9</span><br>
    Case postale <span property="postOfficeBoxNumber">809</span><br>
    <span property="postalCode">1009</span> <span property="addressLocality">Port Zachery</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="visually-hidden" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="visually-hidden">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="visually-hidden">Courriel</span>
          <a href="mailto:" property="email">Tyrese74@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">Product Response Supervisor</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Lena Trantow</h3>
  <p class="h4" property="jobTitle">Central Mobility Planner</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">258 Westgate  10</span><br>
    Case postale <span property="postOfficeBoxNumber">8010</span><br>
    <span property="postalCode">10010</span> <span property="addressLocality">Scottsdale</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="visually-hidden" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="visually-hidden">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="visually-hidden">Courriel</span>
          <a href="mailto:" property="email">Wilhelm_Reichel@hotmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">Dynamic Integration Designer</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>



<nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="visually-hidden">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="visually-hidden">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


