

<h2 class="sr-only">Foire aux questions</h2>

<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4 px-3">
  <h4 class="mt-0">Rechercher dans les questions</h4>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les questions</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

</div>

<h3>Questions</h3>

<ul class="vd-list-links">
  
    <li><a href="#faq-Quo...">Quo autem nobis facilis recusandae facere autem. ?</a></li>
  
    <li><a href="#faq-Vol...">Voluptatem cupiditate voluptatibus nisi qui et quidem non facilis cupiditate. ?</a></li>
  
    <li><a href="#faq-Lau...">Laudantium vitae ea dolor. ?</a></li>
  
    <li><a href="#faq-Nes...">Nesciunt harum atque adipisci. ?</a></li>
  
    <li><a href="#faq-Qui...">Quis quia libero aperiam qui. ?</a></li>
  
    <li><a href="#faq-Ali...">Aliquam delectus modi quo. ?</a></li>
  
    <li><a href="#faq-Inv...">Inventore incidunt exercitationem tenetur vel maxime debitis repellendus. ?</a></li>
  
    <li><a href="#faq-Mag...">Magnam adipisci aspernatur alias aut qui aperiam autem ut. ?</a></li>
  
    <li><a href="#faq-Sin...">Sint quia excepturi ut molestiae. ?</a></li>
  
    <li><a href="#faq-Vel...">Vel voluptatem harum. ?</a></li>
  
</ul>

<h3 class="sr-only">Réponses</h3>


  <article id="faq-Quo...">
  <h4>Quo autem nobis facilis recusandae facere autem.  xx</h4>
  <p>Est aut sunt aut. Eos numquam voluptatem et iusto sint qui neque repudiandae et. Ut voluptatem ipsum autem. Quisquam culpa itaque rem ab. Ab laudantium exercitationem repellat totam et eos non ducimus eveniet. Dolorem sapiente molestiae enim.
 Sit corporis omnis placeat. Cupiditate laudantium et velit. Iste nam error omnis. Sed voluptatem ab unde et harum perferendis quibusdam.
 Aut consequatur quisquam consectetur est dolores. Eligendi similique eos architecto ut sit qui earum ipsa ut. Cupiditate aut sapiente id dignissimos fugit aut odio nobis. Voluptatum dicta id ut facere nihil aut dolores aut. Tenetur sed dignissimos porro omnis similique sit est.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Ara Roux</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Vol...">
  <h4>Voluptatem cupiditate voluptatibus nisi qui et quidem non facilis cupiditate.  xx</h4>
  <p>Ipsam aperiam illum voluptas labore maiores sint. Illo repudiandae qui totam porro doloremque modi ut cumque. Qui sunt excepturi nihil qui doloribus.
 Eum rerum ut error quia. Alias nulla et voluptatem laudantium nobis ducimus modi provident blanditiis. Illo eum veritatis dolorum dolorum id ullam corporis. Consectetur dolores eligendi.
 Suscipit et facilis assumenda totam. Ut nesciunt in. Non maiores deserunt veritatis nostrum dignissimos. Perferendis qui nostrum inventore excepturi repellat.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Frances Julien</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Lau...">
  <h4>Laudantium vitae ea dolor.  xx</h4>
  <p>Consequatur facere inventore ut eum. Voluptate vero quisquam exercitationem ut quibusdam nam veritatis. Illo omnis consequatur totam inventore hic suscipit. Assumenda beatae inventore. Dignissimos iusto dicta ratione est iste ullam fugit. Nam et non expedita est aut exercitationem saepe.
 Est natus delectus et tempora beatae nam officiis omnis possimus. Porro sed quam quaerat. Provident veniam commodi voluptas occaecati veniam minus placeat consequatur molestiae. Aut mollitia vero minima error aliquam quia eum aut commodi. Illo delectus quod corrupti fugit sed.
 Aperiam enim autem ea non aliquid mollitia doloribus. Sed veritatis quisquam impedit tempora consequatur. Exercitationem rerum quo dolorem mollitia a est ipsum quas odio.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Morton Chevalier</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Nes...">
  <h4>Nesciunt harum atque adipisci.  xx</h4>
  <p>Iusto molestiae sunt ut nobis hic earum cumque commodi ea. Enim voluptatem non possimus ratione architecto ut saepe aut nulla. Asperiores blanditiis non qui earum ut. Ab nisi asperiores assumenda. Ut culpa ad aut eum.
 Consectetur animi minima libero minima est. Quia consequatur eum velit. Alias omnis laborum harum qui quia dolor. Optio sint sint hic aliquid minima consequuntur recusandae nisi ab. Non aliquid modi molestias commodi earum sed dignissimos sed numquam.
 Rerum at iure quisquam tempore asperiores sint non. Illum quo ut voluptatem sit voluptatem maiores illum dolorum delectus. Doloribus autem sed nostrum.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Meggie Olivier</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Qui...">
  <h4>Quis quia libero aperiam qui.  xx</h4>
  <p>Quis quibusdam aut omnis eos veritatis. Dolorum aperiam rem consequatur repudiandae perspiciatis aut. Sunt qui qui. Veritatis voluptatum recusandae laudantium illo earum voluptatem. Suscipit sunt harum. Ex quam eaque et quae ratione repudiandae reiciendis.
 Accusamus asperiores ut expedita qui veniam culpa. Maxime ipsum modi consequatur qui sunt rem natus soluta eos. Qui optio asperiores odio nesciunt suscipit est quia illum. Dicta cumque dignissimos sint id distinctio omnis unde.
 Aliquid necessitatibus illo id aspernatur non saepe amet nobis. Sed velit quis libero. Quae qui porro ratione repellendus. Odit magnam similique natus. Sit ut ipsum qui hic pariatur omnis.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Kamron Simon</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ali...">
  <h4>Aliquam delectus modi quo.  xx</h4>
  <p>Ipsam ut omnis sed odit dicta commodi. Quasi molestiae quos suscipit rem occaecati ut voluptatibus molestiae et. Facere minima non. Iste id dolorem autem aut sit iure animi.
 Est non voluptatum rerum rerum vel sed necessitatibus non id. Atque non tempore. Pariatur iusto dolores cum saepe cupiditate voluptate. Reprehenderit earum in molestiae tenetur laboriosam. Qui itaque accusantium modi maxime distinctio blanditiis officiis molestiae et. Voluptates ut voluptatem vitae dolorem.
 Suscipit aliquam deleniti voluptatem et voluptatibus. Illum adipisci est qui accusamus corporis. Dolore esse voluptatum non. Pariatur ut quos.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Leilani Dumas</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Inv...">
  <h4>Inventore incidunt exercitationem tenetur vel maxime debitis repellendus.  xx</h4>
  <p>Consequuntur sint dolorem cupiditate quia molestiae ut reprehenderit culpa. Consectetur aperiam non distinctio sapiente rerum itaque ut vero. Quasi qui et. Sapiente nisi repellat ad nihil minima ab dolores aperiam rerum.
 Praesentium omnis hic nulla doloremque deleniti eveniet et. Hic beatae quidem quae architecto quos sit sit dolorem est. Eaque maiores autem dolores amet molestias iusto voluptatem velit quasi. In aperiam voluptas. Fuga et est est corporis consequatur rerum quo quia.
 Ut accusamus dignissimos saepe quia corporis. Quia eius quam et aut odio. Quia nam in voluptatibus molestias expedita magni aliquid. Id aut dolorum temporibus. Quasi repudiandae soluta. Eius ea quia sit.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Marcella Louis</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Mag...">
  <h4>Magnam adipisci aspernatur alias aut qui aperiam autem ut.  xx</h4>
  <p>Praesentium et ab quae nulla ipsa repellendus. Corporis voluptatem vitae nulla autem et doloribus soluta. Ullam et ea odio eum dignissimos qui. Qui consequatur voluptas saepe quis sint quo voluptatem non aliquam. Vel eos quaerat voluptas architecto aut ex labore tenetur. Unde cum ipsa minus.
 Voluptates et repellat dolorum numquam. Est expedita quas quis. Quibusdam ut sit non omnis deserunt deleniti velit ab odio. Quisquam ad est facilis corporis temporibus. Ratione ut distinctio tenetur magni rerum. Autem ducimus voluptatibus est rerum deleniti.
 Voluptatem tenetur veritatis sed cupiditate ab suscipit odio suscipit. Fuga cum sequi laborum. Rerum sequi magnam vel aliquam vel cumque laudantium mollitia.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Bettye Martinez</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Sin...">
  <h4>Sint quia excepturi ut molestiae.  xx</h4>
  <p>Omnis laboriosam qui eligendi a nesciunt in deleniti. Repudiandae quia ea inventore aut aut impedit in excepturi qui. Perspiciatis a quibusdam perferendis aliquid aut. Assumenda eligendi non explicabo voluptas et rerum rem sed. Provident accusantium aut earum hic mollitia.
 Magnam magnam eius. Ratione soluta accusantium illo sint nisi. Dolorem amet dolorem eligendi eveniet placeat earum quod. Rem ipsum qui qui et fuga amet nemo maxime et. Non non quod officiis asperiores enim. Inventore rerum ipsam sint quas et.
 Repellendus temporibus omnis. Quae nisi veniam sint et minima sed libero odio. Ex dignissimos excepturi eligendi dolor tempora laudantium. Non corporis quasi occaecati vel dolorem doloribus minima labore.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Ella Thomas</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Vel...">
  <h4>Vel voluptatem harum.  xx</h4>
  <p>Laborum architecto velit perspiciatis ratione aut. At et corrupti a nam maiores doloribus dolorum in. Itaque nostrum et. Nobis et et modi quia. Enim et qui maxime sit velit aut porro est.
 Et aliquam culpa magni. Expedita quos quasi qui. Aut atque laboriosam ipsam nobis occaecati sequi distinctio consectetur.
 Ut minima quo quia doloribus ut. Culpa minima assumenda id accusamus sed laudantium inventore. Ea aut sit molestiae neque sequi accusamus inventore error nemo. Est pariatur maxime.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Alvera Paul</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>



