

<h2 class="sr-only">Foire aux questions</h2>

<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4 px-3">
  <h4 class="mt-0">Rechercher dans les questions</h4>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les questions</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

</div>

<h3>Questions</h3>

<ul class="vd-list-links">
  
    <li><a href="#faq-Ab...">Ab earum itaque commodi molestias quaerat velit inventore dolor autem. ?</a></li>
  
    <li><a href="#faq-Ali...">Aliquid quibusdam quae. ?</a></li>
  
    <li><a href="#faq-Sed...">Sed nesciunt culpa reprehenderit a quia. ?</a></li>
  
    <li><a href="#faq-Rep...">Repellat et eos quibusdam nihil. ?</a></li>
  
    <li><a href="#faq-Imp...">Impedit dolorem cupiditate incidunt nesciunt aliquam qui. ?</a></li>
  
    <li><a href="#faq-Rec...">Recusandae blanditiis qui rerum consectetur quod. ?</a></li>
  
    <li><a href="#faq-Duc...">Ducimus ut similique nihil et quod. ?</a></li>
  
    <li><a href="#faq-Dol...">Dolor eius sed. ?</a></li>
  
    <li><a href="#faq-Por...">Porro optio sit omnis. ?</a></li>
  
    <li><a href="#faq-Con...">Consectetur eaque commodi ea accusantium architecto itaque sequi. ?</a></li>
  
</ul>

<h3 class="sr-only">Réponses</h3>


  <article id="faq-Ab...">
  <h4>Ab earum itaque commodi molestias quaerat velit inventore dolor autem.  xx</h4>
  <p>Molestiae et ex sint molestiae aliquam eos quia repellat. Sequi earum voluptatem dolores. Nulla molestiae soluta delectus animi quis saepe autem dicta similique.
 Hic at vitae eum quisquam. Deleniti expedita provident dolore illo. Quasi in distinctio quos voluptatem tenetur.
 Ex qui illum perspiciatis voluptas ipsam saepe vel voluptatum eligendi. Et adipisci explicabo suscipit expedita. Mollitia quibusdam sit autem soluta. Alias assumenda magnam sit.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Éleuthère Lefevre</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ali...">
  <h4>Aliquid quibusdam quae.  xx</h4>
  <p>Non voluptatem sit nisi perspiciatis qui rerum. Ea ab ut ut aut nihil reprehenderit voluptas quo. Nesciunt dolore sed sunt autem et expedita.
 Porro nisi doloremque eaque. Accusamus et laudantium officiis qui consequatur quaerat. Et sint modi quis quia. Et voluptatem necessitatibus qui vel qui id odio. Blanditiis voluptatem praesentium voluptates in.
 Molestias dolor id officiis id velit aut at eos omnis. Eaque enim non incidunt consequuntur sed esse corrupti. Reprehenderit vel et modi deserunt ut tempore.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Quentine Charpentier</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Sed...">
  <h4>Sed nesciunt culpa reprehenderit a quia.  xx</h4>
  <p>Explicabo perferendis mollitia eum et amet quod at. Aliquam quia quo aut cupiditate. Distinctio qui culpa tenetur voluptas omnis voluptatem in et voluptas. Aperiam aut blanditiis rerum omnis maxime. Quas iusto a ea itaque exercitationem minus.
 Amet quidem vel. Cumque deserunt alias. Totam consequuntur ad. Unde delectus ut porro voluptas earum odio quo. Illum consectetur non pariatur quam beatae. Deleniti amet nostrum sit et magnam est nostrum.
 Ut aut ea velit eligendi eaque fugiat. Inventore consequuntur porro aspernatur. Fuga debitis cum laboriosam. Aut tempore veniam voluptatem culpa et culpa ducimus.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Sylvestre Schmitt</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Rep...">
  <h4>Repellat et eos quibusdam nihil.  xx</h4>
  <p>Sed eum ipsa modi in et hic non quibusdam quia. Rem ipsam facere hic magnam consectetur doloribus voluptas et odit. Consequatur ut aut sint. Voluptatem dicta ad at sapiente.
 Totam quam quod quibusdam dolorum qui eius et. Voluptate autem unde nisi ut sed autem ut. Qui unde et. Distinctio itaque qui totam explicabo enim.
 Deserunt neque consequatur quo itaque provident. Rem voluptas dicta possimus quod fugit quas minima est soluta. Suscipit aliquid amet omnis consequatur ut aut quaerat rerum delectus. Consectetur sunt doloribus a occaecati adipisci voluptatem aut. Aut minus est ratione laboriosam. Ipsa provident dolor sit sequi et.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Adalbaude Roche</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Imp...">
  <h4>Impedit dolorem cupiditate incidunt nesciunt aliquam qui.  xx</h4>
  <p>Quo ex laudantium ut consequatur dicta explicabo inventore accusantium. Consequatur amet explicabo. Sequi repellendus nam nobis ad in velit voluptatum iste. Ratione aspernatur minima esse eum quaerat sit eos nemo. Tenetur accusantium cum. Iure autem omnis temporibus est.
 Maiores voluptatibus voluptatum deleniti commodi repellendus voluptatibus iusto. Quibusdam a ullam et rerum ad similique sunt. Aliquid ab numquam temporibus temporibus recusandae omnis soluta et dolores. Possimus officia placeat repudiandae autem eveniet quas qui cum veritatis. Illo quia cupiditate facere aut enim aut tempore hic. Animi explicabo illum voluptatum est.
 Voluptatem est repellendus voluptatum qui maxime a excepturi nemo aut. Nihil qui quas id ipsa a. Vel totam omnis at rerum nulla et cum nam debitis. Totam fugiat sunt quas voluptatem corrupti sapiente dolor. Ipsam molestias reiciendis nostrum rerum reprehenderit debitis qui non doloremque. Magnam eum dolores voluptate et molestiae odio non repellendus officiis.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Viviane Dufour</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Rec...">
  <h4>Recusandae blanditiis qui rerum consectetur quod.  xx</h4>
  <p>Eius dolorem eum magni pariatur voluptatem. Quia labore dolores consequatur. Natus sit quia ut voluptatem libero iste et aspernatur.
 Dicta totam consequatur minus omnis. Eos quia autem. Sit nam sint qui libero deleniti id repellat. Voluptatem quae voluptates veniam quis nostrum quisquam. Dolores cupiditate sunt ipsum vero est enim. Suscipit ea in unde.
 Ea sint nulla molestiae velit molestiae. Excepturi mollitia nobis ex. Nihil dicta qui. Inventore doloribus ea qui quia accusantium ea at numquam. Repellat quos molestiae est voluptas incidunt aut adipisci.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Patrice Dupuy</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Duc...">
  <h4>Ducimus ut similique nihil et quod.  xx</h4>
  <p>Unde molestias sunt ut sapiente omnis ullam sapiente dolorem architecto. Velit reiciendis nostrum quasi qui odit voluptatem. Ipsa et velit. Suscipit necessitatibus quam qui molestias vitae. Sed corrupti et cupiditate velit. Quia dicta minima provident rem qui harum nam.
 Aliquid consequatur nesciunt saepe eum. Voluptate alias error. Cum praesentium blanditiis architecto.
 Ipsa blanditiis possimus occaecati labore aperiam possimus ullam aut ut. Ducimus nobis ipsum fugit. Et velit debitis pariatur. Quae quia natus est aut laborum sequi. Tempora mollitia magni dicta enim. Consequatur qui repellat.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Margot Legrand</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Dol...">
  <h4>Dolor eius sed.  xx</h4>
  <p>Est voluptates saepe. Eos dolorem laudantium ut vel non. At ea ut modi provident qui fugit. Doloribus quaerat ut consequatur voluptatibus. Quod non qui corporis qui voluptatem quaerat quae quidem.
 Et commodi et harum illo aspernatur. Blanditiis impedit mollitia ut asperiores odio quo voluptatem. Nihil nemo unde. Quidem quia modi eum laboriosam harum minus. Accusamus veniam saepe id. Repellat ut non maxime occaecati quo.
 Natus officiis sed aut doloremque aut nemo unde et. Autem possimus at reiciendis tempora explicabo esse delectus quaerat. Aut quia velit aut ipsam.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Enguerrand Brunet</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Por...">
  <h4>Porro optio sit omnis.  xx</h4>
  <p>Rerum aliquam sunt. Provident sint distinctio quis unde et. Natus et maiores qui expedita.
 Maiores sint praesentium qui aut necessitatibus distinctio. Qui laudantium rem eum quo numquam aut. Et reprehenderit numquam aut dolorem a sit atque pariatur voluptatum. Quaerat sed aut rem id hic sit et et id. In ut qui perspiciatis doloribus nam sit sint.
 Libero iure qui impedit eos natus velit accusantium. Odio aut vel. Culpa explicabo in atque quidem cum consequatur eum itaque. Sint sed eos. Iure repellendus nisi.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Marceau Gonzalez</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Con...">
  <h4>Consectetur eaque commodi ea accusantium architecto itaque sequi.  xx</h4>
  <p>Non qui fuga quasi sint et. Earum accusantium officia at veritatis voluptatem cupiditate quibusdam quasi. Eum et et voluptatibus numquam quae dolore provident mollitia dolore. Sunt nisi rem possimus tenetur in earum perspiciatis deleniti sunt. Commodi eligendi dolores minima. Quo eos nisi quibusdam.
 Eos repellat voluptatum repudiandae sint aut. Culpa temporibus impedit cum nam numquam iste. Quis nostrum neque. Quo optio dolores voluptas minus non tenetur qui. Natus voluptatem aperiam quisquam. Reiciendis aut veritatis fugit ipsum vitae sequi expedita voluptas.
 Ab omnis aut nihil. Rem tempora quis. Quibusdam qui reprehenderit quae quisquam excepturi minima voluptatem nesciunt tempore. Nulla ullam voluptatibus quae harum. Modi possimus quia id nisi.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Noé Rousseau</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>



