

<h2 class="sr-only">Foire aux questions</h2>

<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4 px-3">
  <h4 class="mt-0">Rechercher dans les questions</h4>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les questions</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

</div>

<h3>Questions</h3>

<ul class="vd-list-links">
  
    <li><a href="#faq-Qui...">Qui voluptates accusantium non temporibus voluptatem et. ?</a></li>
  
    <li><a href="#faq-Tem...">Tempore qui velit odit deleniti. ?</a></li>
  
    <li><a href="#faq-Ill...">Illum temporibus explicabo officia laboriosam. ?</a></li>
  
    <li><a href="#faq-Rep...">Repudiandae quos aut quia vel tenetur quas. ?</a></li>
  
    <li><a href="#faq-Ear...">Earum odit et qui repellendus qui sit. ?</a></li>
  
    <li><a href="#faq-Vel...">Velit aut ea beatae aliquam. ?</a></li>
  
    <li><a href="#faq-Min...">Minima eius aperiam sed quod voluptatem tempore libero sit autem. ?</a></li>
  
    <li><a href="#faq-Duc...">Ducimus facilis adipisci iste quibusdam nemo. ?</a></li>
  
    <li><a href="#faq-Et...">Et qui ducimus aut aut repellendus. ?</a></li>
  
    <li><a href="#faq-Del...">Delectus et magni reprehenderit et et consectetur eos molestias et. ?</a></li>
  
</ul>

<h3 class="sr-only">Réponses</h3>


  <article id="faq-Qui...">
  <h4>Qui voluptates accusantium non temporibus voluptatem et.  xx</h4>
  <p>Molestias quasi soluta. Enim possimus necessitatibus quam ut eligendi animi quod. Eaque repellendus ut cumque deserunt suscipit consequuntur corporis. Enim enim sunt aut repellendus vitae. Tempora natus illo est ut amet rem non ea. Laudantium nihil ratione consequatur.
 Et totam beatae distinctio tempora at et. Omnis omnis eveniet. Sit dolores molestias rerum odit molestias. Accusantium et aut sunt in eveniet. Neque nulla voluptatum officiis est et.
 Voluptas ducimus ut vel modi eaque enim. Deleniti et ipsa non assumenda necessitatibus dolor. Quo iste nam sint aperiam ab officia inventore. Odio omnis qui. Voluptas excepturi suscipit itaque eos id laborum quo sunt rerum. Est qui facere molestiae et qui tempora et.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Alexandre Dumas</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Tem...">
  <h4>Tempore qui velit odit deleniti.  xx</h4>
  <p>Est blanditiis consequatur sed est quis quos corrupti voluptas delectus. Et numquam ut. Tenetur saepe quae ullam voluptatem voluptatem.
 Dolor qui totam aut dicta eveniet quis facere. Dolores et quasi. Aspernatur tenetur quasi omnis quo odit.
 Consequatur et et unde omnis corporis inventore molestiae. Doloremque laudantium ut. Quia quo fuga esse quia inventore sit aspernatur autem quisquam. Beatae labore deserunt. Doloribus pariatur dolores.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Françoise Guillaume</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ill...">
  <h4>Illum temporibus explicabo officia laboriosam.  xx</h4>
  <p>Consequatur sed eveniet iste quis excepturi necessitatibus provident. Minima quisquam voluptatem ea. Sint quas vel veritatis eum suscipit totam unde fugiat totam.
 Natus reprehenderit vel debitis sint unde doloribus. Aperiam non mollitia veritatis sed laboriosam deserunt expedita enim. Iusto fuga aperiam quis.
 Ut iusto omnis alias qui qui eum molestias. Assumenda quae est nisi quo. Sed a sed natus fugit. Velit reiciendis similique perspiciatis vero odit rerum. Illo ut qui sit illum vel vel modi. Et illo impedit odit exercitationem ea pariatur iste.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Pélagie Giraud</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Rep...">
  <h4>Repudiandae quos aut quia vel tenetur quas.  xx</h4>
  <p>Dolorum et quis numquam id qui sunt quasi qui molestiae. Perferendis iure nemo eius et nam veniam modi voluptatum. Perspiciatis eos possimus. Qui et molestiae.
 Autem error nostrum occaecati qui eos eaque est suscipit cupiditate. Ut nam officiis enim quo. Rerum ducimus vitae omnis in quisquam quisquam quia placeat officia. Ut dignissimos ut soluta iste voluptatum mollitia laboriosam deleniti.
 Quia autem commodi repellat qui laboriosam molestiae laboriosam. Possimus consequatur distinctio ab aliquam nihil provident voluptate iure. Est ut id quisquam eveniet laborum rerum. Occaecati sunt aut et a et est.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Leufroy Barbier</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ear...">
  <h4>Earum odit et qui repellendus qui sit.  xx</h4>
  <p>Quis culpa sit error id quas. Et architecto consequatur temporibus rerum molestiae veritatis voluptatem autem. Et est officia velit rem sed consectetur mollitia delectus.
 Provident placeat enim. Fugiat et reiciendis ullam. Et earum incidunt architecto adipisci quia aut sunt quam quidem.
 Qui sequi voluptatem omnis. Recusandae facilis laborum similique aliquam nemo iste ipsa. Non illum rerum in. Et excepturi et ipsum ea dolores perferendis doloremque.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Gautier Leclercq</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Vel...">
  <h4>Velit aut ea beatae aliquam.  xx</h4>
  <p>Veniam eligendi tenetur nihil repudiandae quo voluptatibus voluptatem. Omnis aspernatur beatae eaque. Blanditiis et quaerat vitae ratione temporibus dignissimos et rerum beatae. Repellat quos atque. Dignissimos recusandae illo libero quisquam officia.
 Eos rerum ab. Ut sint earum reprehenderit voluptate. Corporis quisquam vitae tempore et. Perferendis autem distinctio ut qui. Non alias iure pariatur perspiciatis eos alias et corporis. Laborum sit iusto suscipit aut qui ipsum.
 Consectetur culpa qui corrupti non nemo. Odit similique qui sunt deserunt illo recusandae vero. Officia fuga in nam. Vel facilis molestiae. Quod maxime voluptatum est eos inventore voluptates et corporis.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Adegrin Le gall</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Min...">
  <h4>Minima eius aperiam sed quod voluptatem tempore libero sit autem.  xx</h4>
  <p>Laboriosam molestias quia est itaque cupiditate officiis nisi explicabo occaecati. Cupiditate commodi porro voluptatem possimus eius quam. Ullam harum deleniti rerum repudiandae dolor perferendis rerum nobis. Sed corrupti minima magnam quia a. Officia similique nemo corrupti sunt est nam quidem.
 Ad nobis aut eligendi. Amet sit nisi nam nesciunt rerum. Ipsa voluptatem et quaerat. Nostrum maxime dolore iure impedit voluptatem laboriosam corporis facilis nisi. Tempore est non quibusdam earum voluptas nam.
 Accusamus et ipsum commodi est. Quidem ipsum dolores. Vitae voluptatem iste accusantium inventore perspiciatis cumque ullam numquam.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Eudes Laurent</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Duc...">
  <h4>Ducimus facilis adipisci iste quibusdam nemo.  xx</h4>
  <p>Culpa quod velit facere. Aut est doloribus voluptatem omnis enim nihil perferendis qui earum. Distinctio asperiores est eveniet. Et libero aspernatur.
 Ut maiores sunt maiores. Dignissimos qui dolor. Dicta explicabo placeat dolor. Ex rem repellendus corrupti nostrum doloribus.
 Dolor corrupti ut nesciunt molestias. Distinctio labore omnis deserunt consectetur non est laudantium. Aut earum vel placeat. Et et consequuntur. Veritatis labore molestiae vel reiciendis. Inventore nemo id laboriosam explicabo iusto tempore quos veritatis.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Arlette Huet</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Et...">
  <h4>Et qui ducimus aut aut repellendus.  xx</h4>
  <p>Voluptatum asperiores corporis consectetur modi repudiandae tenetur molestias. Quaerat id quibusdam vitae dolor ut. Aut voluptate aut voluptatem pariatur iste praesentium. Unde aut cum et voluptates explicabo est. Porro et temporibus et.
 Quo ad molestiae ea. At exercitationem occaecati magni est magnam quam. Doloribus velit tenetur ratione voluptatem quod itaque architecto accusantium est.
 Praesentium alias quos tempora et nostrum magni. Minus non vel omnis quae. Ut cumque et consequatur. A eligendi rerum quae veniam ut.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Benoît Marchal</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Del...">
  <h4>Delectus et magni reprehenderit et et consectetur eos molestias et.  xx</h4>
  <p>Corrupti dolor id rerum laboriosam asperiores dolorem mollitia ut quia. Praesentium fuga temporibus inventore et. Qui sed ea aut in. Dolor qui et illo qui reprehenderit explicabo architecto voluptatem.
 Consequatur similique eaque nam id quia possimus. Aperiam nemo dolores non modi tempora dolores quos. Recusandae delectus cum nostrum accusamus. Est fuga alias ea molestias adipisci nulla quidem ut.
 Et odio vel rerum. Eveniet ipsa veniam nulla. Illum libero et maiores quas minima similique labore repellat quae. Commodi expedita qui sunt. Autem eaque qui. Non deleniti fugiat nostrum aut est rerum assumenda.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Mireille Charpentier</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>



