

<figure class="figure">
  <picture class="figure-img">
      <source media="(min-width: 60em)" srcset="/assets/img/picture-1600x1067.jpg"><source media="(min-width: 40em)" srcset="/assets/img/picture-960x640.jpg"><source media="(min-width: 20em)" srcset="/assets/img/picture-540x360.jpg">
      <img
    class="img-fluid"
    
    src="/assets/img/picture-960x640.jpg"
     alt="">
</picture>
  <figcaption class="figure-caption">Ceci est une légende<span class="vd-figure-credits">Crédit photo</span></figcaption>
</figure>

