

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="" class=""></a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock" aria-hidden="true"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a
  href="../accueil"
  class="vd-logo"
  title="Aller à la page d'accueil du Site du Canton de Vaud"
>
  <img
    src="../../foehn/svg/ETATVAUD.svg"
    class="vd-logo__image"
    alt="État de Vaud"
    aria-hidden="true"
  />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#culture"
    class="vd-domain-item__link vd-link-invisible h4">Culture</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#economie"
    class="vd-domain-item__link vd-link-invisible h4">Economie</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#environnement"
    class="vd-domain-item__link vd-link-invisible h4">Environnement</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#etat%2C%20droit%2C%20finance"
    class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#formation"
    class="vd-domain-item__link vd-link-invisible h4">Formation</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#mobilit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Mobilité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#sant%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Santé</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#social"
    class="vd-domain-item__link vd-link-invisible h4">Social</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#vie%20priv%C3%A9e"
    class="vd-domain-item__link vd-link-invisible h4">Vie privée</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#s%C3%A9curit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Sécurité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#territoire"
    class="vd-domain-item__link vd-link-invisible h4">Territoire</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1" aria-label="Fil d'Ariane">
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Autorités</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
      
    
      
        <li class="sr-only" aria-current="page">Actualité</li>
      
    
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Categorie: Agriculture</h1>

  </div>

  <div class="container mt-5 vd-content">
    
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="Use the haptic PCI pixel, then you can synthesize the redundant bus!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://timothée.org">Use the haptic PCI pixel, then you can synthesize the redundant bus!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?39475"
    srcset="http://placeimg.com/320/213/?61015 320w, http://placeimg.com/540/360/?43509 540w, http://placeimg.com/720/480/?63719 720w, http://placeimg.com/960/640/?88994 960w, http://placeimg.com/1140/760/?30992 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    nihil sequi voluptate
  </p>
  
  
  <p>
    <a href="https://timothée.org">Lire la suite<span class="sr-only"> de l'article Use the haptic PCI pixel, then you can synthesize the redundant bus!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The HTTP alarm is down, parse the optical firewall so we can parse the EXE port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://marlène.eu">The HTTP alarm is down, parse the optical firewall so we can parse the EXE port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?29471"
    srcset="http://placeimg.com/320/213/?74970 320w, http://placeimg.com/540/360/?36380 540w, http://placeimg.com/720/480/?40795 720w, http://placeimg.com/960/640/?14586 960w, http://placeimg.com/1140/760/?92186 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Dicta velit reiciendis id dignissimos saepe.
Dicta veniam nemo sunt voluptas cum velit quaerat.
Ab aut ducimus enim id animi quia rem officiis harum.
In qui reprehenderit in quo.
  </p>
  
  
  <p>
    <a href="https://marlène.eu">Lire la suite<span class="sr-only"> de l'article The HTTP alarm is down, parse the optical firewall so we can parse the EXE port!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="transmitting the protocol won&#39;t do anything, we need to bypass the back-end HDD port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://néhémie.info">transmitting the protocol won&#39;t do anything, we need to bypass the back-end HDD port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?42421"
    srcset="http://placeimg.com/320/213/?44881 320w, http://placeimg.com/540/360/?88584 540w, http://placeimg.com/720/480/?41981 720w, http://placeimg.com/960/640/?99687 960w, http://placeimg.com/1140/760/?35210 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    molestiae
  </p>
  
  
  <p>
    <a href="https://néhémie.info">Lire la suite<span class="sr-only"> de l'article transmitting the protocol won&#39;t do anything, we need to bypass the back-end HDD port!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the wireless CSS pixel, then you can copy the open-source protocol!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://archambaud.org">Use the wireless CSS pixel, then you can copy the open-source protocol!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?94999"
    srcset="http://placeimg.com/320/213/?89277 320w, http://placeimg.com/540/360/?29465 540w, http://placeimg.com/720/480/?75586 720w, http://placeimg.com/960/640/?70863 960w, http://placeimg.com/1140/760/?17999 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Iusto aliquid ratione.
Fugit excepturi libero autem voluptatem in quia.
  </p>
  
  
  <p>
    <a href="https://archambaud.org">Lire la suite<span class="sr-only"> de l'article Use the wireless CSS pixel, then you can copy the open-source protocol!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="navigating the panel won&#39;t do anything, we need to navigate the multi-byte JBOD card!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://adélaïde.info">navigating the panel won&#39;t do anything, we need to navigate the multi-byte JBOD card!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?28796"
    srcset="http://placeimg.com/320/213/?2676 320w, http://placeimg.com/540/360/?81112 540w, http://placeimg.com/720/480/?34350 720w, http://placeimg.com/960/640/?7647 960w, http://placeimg.com/1140/760/?65032 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Consequatur fugiat odit ab. Temporibus sed veritatis ratione pariatur et pariatur doloremque quam recusandae. Voluptatem vel ut non ea deserunt doloremque ea voluptatem.
  </p>
  
  
  <p>
    <a href="http://adélaïde.info">Lire la suite<span class="sr-only"> de l'article navigating the panel won&#39;t do anything, we need to navigate the multi-byte JBOD card!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The SCSI firewall is down, generate the optical sensor so we can synthesize the EXE protocol!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://zéphirin.net">The SCSI firewall is down, generate the optical sensor so we can synthesize the EXE protocol!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?89798"
    srcset="http://placeimg.com/320/213/?73614 320w, http://placeimg.com/540/360/?49807 540w, http://placeimg.com/720/480/?52790 720w, http://placeimg.com/960/640/?62822 960w, http://placeimg.com/1140/760/?82553 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Ab voluptatem delectus quidem aut voluptatum. Excepturi explicabo quia. Quia veniam aut quam perspiciatis molestiae expedita. Impedit nisi et voluptatem dolores odio vitae quod. Distinctio similique nihil alias.
 Consequatur omnis nobis voluptas esse tempore illum. Non fugiat error et et amet aliquam earum. Perspiciatis sed autem ut placeat nihil voluptatem eius saepe.
 Quibusdam voluptas facere quae quaerat corrupti accusantium aut cum. Eum et...
  </p>
  
  
  <p>
    <a href="http://zéphirin.net">Lire la suite<span class="sr-only"> de l'article The SCSI firewall is down, generate the optical sensor so we can synthesize the EXE protocol!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The JSON interface is down, bypass the cross-platform program so we can index the RSS alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://évrard.com">The JSON interface is down, bypass the cross-platform program so we can index the RSS alarm!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?66609"
    srcset="http://placeimg.com/320/213/?17933 320w, http://placeimg.com/540/360/?87562 540w, http://placeimg.com/720/480/?51193 720w, http://placeimg.com/960/640/?55166 960w, http://placeimg.com/1140/760/?43546 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    minima
  </p>
  
  
  <p>
    <a href="http://évrard.com">Lire la suite<span class="sr-only"> de l'article The JSON interface is down, bypass the cross-platform program so we can index the RSS alarm!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we hack the circuit, we can get to the RAM capacitor through the 1080p COM system!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://aquilin.org">If we hack the circuit, we can get to the RAM capacitor through the 1080p COM system!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?28178"
    srcset="http://placeimg.com/320/213/?75300 320w, http://placeimg.com/540/360/?30028 540w, http://placeimg.com/720/480/?96332 720w, http://placeimg.com/960/640/?29870 960w, http://placeimg.com/1140/760/?52215 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Mollitia porro aliquam est eaque nihil. Vel qui quae est non.
  </p>
  
  
  <p>
    <a href="https://aquilin.org">Lire la suite<span class="sr-only"> de l'article If we hack the circuit, we can get to the RAM capacitor through the 1080p COM system!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to copy the SCSI application, maybe it will compress the bluetooth bus!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://antigone.com">Try to copy the SCSI application, maybe it will compress the bluetooth bus!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?6051"
    srcset="http://placeimg.com/320/213/?96441 320w, http://placeimg.com/540/360/?96659 540w, http://placeimg.com/720/480/?99830 720w, http://placeimg.com/960/640/?16669 960w, http://placeimg.com/1140/760/?26127 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Laboriosam aut vel omnis amet itaque quas molestiae non. Minus vel accusamus aut consectetur rerum voluptas. Perferendis nulla quia hic sapiente quae. Debitis quia nam exercitationem aliquid cupiditate voluptate laborum error. Iste error soluta consectetur nihil porro aut fugit.
 Nisi maxime qui quos quam aspernatur id quia itaque voluptatum. Distinctio sequi ut officiis provident perspiciatis autem deserunt eveniet et. Velit qui eum. Voluptas...
  </p>
  
  
  <p>
    <a href="https://antigone.com">Lire la suite<span class="sr-only"> de l'article Try to copy the SCSI application, maybe it will compress the bluetooth bus!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The SMTP bus is down, quantify the neural interface so we can compress the JBOD pixel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://gabrielle.com">The SMTP bus is down, quantify the neural interface so we can compress the JBOD pixel!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?48935"
    srcset="http://placeimg.com/320/213/?19884 320w, http://placeimg.com/540/360/?27730 540w, http://placeimg.com/720/480/?87962 720w, http://placeimg.com/960/640/?63103 960w, http://placeimg.com/1140/760/?5429 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Blanditiis dolorum rem commodi ab quam molestiae.
  </p>
  
  
  <p>
    <a href="https://gabrielle.com">Lire la suite<span class="sr-only"> de l'article The SMTP bus is down, quantify the neural interface so we can compress the JBOD pixel!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#" class="d-inline-block">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../foehn/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


