

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="" class=""></a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock" aria-hidden="true"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a
  href="../accueil"
  class="vd-logo"
  title="Aller à la page d'accueil du Site du Canton de Vaud"
>
  <img
    src="../../foehn/svg/ETATVAUD.svg"
    class="vd-logo__image"
    alt="État de Vaud"
    aria-hidden="true"
  />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#culture"
    class="vd-domain-item__link vd-link-invisible h4">Culture</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#economie"
    class="vd-domain-item__link vd-link-invisible h4">Economie</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#environnement"
    class="vd-domain-item__link vd-link-invisible h4">Environnement</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#etat%2C%20droit%2C%20finance"
    class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#formation"
    class="vd-domain-item__link vd-link-invisible h4">Formation</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#mobilit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Mobilité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#sant%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Santé</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#social"
    class="vd-domain-item__link vd-link-invisible h4">Social</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#vie%20priv%C3%A9e"
    class="vd-domain-item__link vd-link-invisible h4">Vie privée</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#s%C3%A9curit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Sécurité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#territoire"
    class="vd-domain-item__link vd-link-invisible h4">Territoire</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1" aria-label="Fil d'Ariane">
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Autorités</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
      
    
    
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Toutes les activités</h1>

  </div>

  <div class="container mt-5 vd-content">
    
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="I&#39;ll quantify the solid state THX circuit, that should bandwidth the SQL application!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://freida.eu">I&#39;ll quantify the solid state THX circuit, that should bandwidth the SQL application!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?73190"
    srcset="http://placeimg.com/320/213/?51960 320w, http://placeimg.com/540/360/?19028 540w, http://placeimg.com/720/480/?68247 720w, http://placeimg.com/960/640/?49508 960w, http://placeimg.com/1140/760/?4418 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Ipsam aperiam adipisci voluptas nobis aut unde et.
  </p>
  
  
  <p>
    <a href="https://freida.eu">Lire la suite<span class="sr-only"> de l'article I&#39;ll quantify the solid state THX circuit, that should bandwidth the SQL application!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The XSS sensor is down, reboot the auxiliary array so we can compress the RAM driver!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://anya.com">The XSS sensor is down, reboot the auxiliary array so we can compress the RAM driver!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?30910"
    srcset="http://placeimg.com/320/213/?6354 320w, http://placeimg.com/540/360/?88429 540w, http://placeimg.com/720/480/?62873 720w, http://placeimg.com/960/640/?59865 960w, http://placeimg.com/1140/760/?37131 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    in cumque iure
  </p>
  
  
  <p>
    <a href="https://anya.com">Lire la suite<span class="sr-only"> de l'article The XSS sensor is down, reboot the auxiliary array so we can compress the RAM driver!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the open-source XSS card, then you can synthesize the open-source driver!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://shany.net">Use the open-source XSS card, then you can synthesize the open-source driver!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?210"
    srcset="http://placeimg.com/320/213/?20498 320w, http://placeimg.com/540/360/?46152 540w, http://placeimg.com/720/480/?72633 720w, http://placeimg.com/960/640/?21910 960w, http://placeimg.com/1140/760/?64177 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Voluptas nostrum perspiciatis cum mollitia voluptas ea ea quas ut.
  </p>
  
  
  <p>
    <a href="https://shany.net">Lire la suite<span class="sr-only"> de l'article Use the open-source XSS card, then you can synthesize the open-source driver!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The SDD card is down, transmit the open-source protocol so we can hack the SMTP application!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://benny.net">The SDD card is down, transmit the open-source protocol so we can hack the SMTP application!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?76188"
    srcset="http://placeimg.com/320/213/?11298 320w, http://placeimg.com/540/360/?92730 540w, http://placeimg.com/720/480/?57063 720w, http://placeimg.com/960/640/?76288 960w, http://placeimg.com/1140/760/?16639 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    veniam
  </p>
  
  
  <p>
    <a href="https://benny.net">Lire la suite<span class="sr-only"> de l'article The SDD card is down, transmit the open-source protocol so we can hack the SMTP application!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can&#39;t index the driver without quantifying the open-source SMS matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://bethel.name">You can&#39;t index the driver without quantifying the open-source SMS matrix!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?43832"
    srcset="http://placeimg.com/320/213/?55849 320w, http://placeimg.com/540/360/?93080 540w, http://placeimg.com/720/480/?57221 720w, http://placeimg.com/960/640/?65167 960w, http://placeimg.com/1140/760/?98290 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Qui temporibus dolorem. Ea in aut pariatur aliquam. Incidunt qui quis. Repellat consequatur deleniti aut nobis. Culpa occaecati culpa aut qui dolor sed eum officia alias. Facilis fuga dignissimos est nihil.
 Omnis quidem nam. Quo vel nihil blanditiis consectetur sapiente non explicabo deserunt. Qui veritatis eaque vel odit nam deleniti velit beatae saepe.
 Ea aspernatur dolorem et id at labore. Doloremque illum qui provident quia dolores....
  </p>
  
  
  <p>
    <a href="https://bethel.name">Lire la suite<span class="sr-only"> de l'article You can&#39;t index the driver without quantifying the open-source SMS matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can&#39;t copy the interface without parsing the redundant FTP array!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://ruth.fr">You can&#39;t copy the interface without parsing the redundant FTP array!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?97021"
    srcset="http://placeimg.com/320/213/?16453 320w, http://placeimg.com/540/360/?20132 540w, http://placeimg.com/720/480/?5527 720w, http://placeimg.com/960/640/?56122 960w, http://placeimg.com/1140/760/?2033 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    qui iure autem
  </p>
  
  
  <p>
    <a href="http://ruth.fr">Lire la suite<span class="sr-only"> de l'article You can&#39;t copy the interface without parsing the redundant FTP array!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to navigate the haptic HDD bus!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://sonny.fr">We need to navigate the haptic HDD bus!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?31903"
    srcset="http://placeimg.com/320/213/?71070 320w, http://placeimg.com/540/360/?63673 540w, http://placeimg.com/720/480/?65050 720w, http://placeimg.com/960/640/?51104 960w, http://placeimg.com/1140/760/?43772 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Architecto est dolores ut.
Est officiis et ab ut facere reprehenderit.
Consequatur excepturi dolorem id et ut adipisci odit.
Possimus exercitationem et.
Dolor expedita ratione aut ullam sit aspernatur consequuntur commodi ab.
  </p>
  
  
  <p>
    <a href="http://sonny.fr">Lire la suite<span class="sr-only"> de l'article We need to navigate the haptic HDD bus!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to reboot the wireless SCSI hard drive!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://rigoberto.info">We need to reboot the wireless SCSI hard drive!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?19406"
    srcset="http://placeimg.com/320/213/?47973 320w, http://placeimg.com/540/360/?38199 540w, http://placeimg.com/720/480/?40072 720w, http://placeimg.com/960/640/?9106 960w, http://placeimg.com/1140/760/?21480 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Facere dolorem rerum accusamus. Quibusdam minus animi voluptatem. Laborum sint velit qui.
  </p>
  
  
  <p>
    <a href="https://rigoberto.info">Lire la suite<span class="sr-only"> de l'article We need to reboot the wireless SCSI hard drive!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The ADP firewall is down, back up the bluetooth system so we can override the FTP driver!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://ida.info">The ADP firewall is down, back up the bluetooth system so we can override the FTP driver!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?31345"
    srcset="http://placeimg.com/320/213/?70756 320w, http://placeimg.com/540/360/?39213 540w, http://placeimg.com/720/480/?22116 720w, http://placeimg.com/960/640/?48367 960w, http://placeimg.com/1140/760/?81052 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Autem qui quam fuga.
  </p>
  
  
  <p>
    <a href="https://ida.info">Lire la suite<span class="sr-only"> de l'article The ADP firewall is down, back up the bluetooth system so we can override the FTP driver!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to parse the SDD protocol, maybe it will transmit the haptic alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://elvis.com">Try to parse the SDD protocol, maybe it will transmit the haptic alarm!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?69711"
    srcset="http://placeimg.com/320/213/?59173 320w, http://placeimg.com/540/360/?28738 540w, http://placeimg.com/720/480/?59974 720w, http://placeimg.com/960/640/?3287 960w, http://placeimg.com/1140/760/?28574 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Reiciendis esse qui possimus dignissimos cum animi. Libero et exercitationem nemo. Dolores molestiae voluptatibus expedita eum quae rerum.
 Voluptas rerum numquam unde ipsum quia. Eos quasi beatae culpa voluptatum cupiditate eius expedita doloribus in. Reiciendis et repudiandae vel asperiores ea sit numquam.
 Consequatur necessitatibus enim soluta sit. Provident provident labore necessitatibus ullam voluptates perspiciatis eveniet laborum....
  </p>
  
  
  <p>
    <a href="https://elvis.com">Lire la suite<span class="sr-only"> de l'article Try to parse the SDD protocol, maybe it will transmit the haptic alarm!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#" class="d-inline-block">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../foehn/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


