

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="" class=""></a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock" aria-hidden="true"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a
  href="../accueil"
  class="vd-logo"
  title="Aller à la page d'accueil du Site du Canton de Vaud"
>
  <img
    src="../../foehn/svg/ETATVAUD.svg"
    class="vd-logo__image"
    alt="État de Vaud"
    aria-hidden="true"
  />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#culture"
    class="vd-domain-item__link vd-link-invisible h4">Culture</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#economie"
    class="vd-domain-item__link vd-link-invisible h4">Economie</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#environnement"
    class="vd-domain-item__link vd-link-invisible h4">Environnement</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#etat%2C%20droit%2C%20finance"
    class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#formation"
    class="vd-domain-item__link vd-link-invisible h4">Formation</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#mobilit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Mobilité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#sant%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Santé</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#social"
    class="vd-domain-item__link vd-link-invisible h4">Social</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#vie%20priv%C3%A9e"
    class="vd-domain-item__link vd-link-invisible h4">Vie privée</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#s%C3%A9curit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Sécurité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#territoire"
    class="vd-domain-item__link vd-link-invisible h4">Territoire</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1" aria-label="Fil d'Ariane">
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Autorités</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
      
    
    
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Toutes les activités</h1>

  </div>

  <div class="container mt-5 vd-content">
    
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="We need to program the auxiliary SQL protocol!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://sibylle.fr">We need to program the auxiliary SQL protocol!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?88601"
    srcset="http://placeimg.com/320/213/?16284 320w, http://placeimg.com/540/360/?99646 540w, http://placeimg.com/720/480/?51570 720w, http://placeimg.com/960/640/?22768 960w, http://placeimg.com/1140/760/?5451 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Fugiat maiores sit veritatis harum.
  </p>
  
  
  <p>
    <a href="https://sibylle.fr">Lire la suite<span class="sr-only"> de l'article We need to program the auxiliary SQL protocol!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the mobile AGP sensor, then you can synthesize the mobile driver!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://guenièvre.net">Use the mobile AGP sensor, then you can synthesize the mobile driver!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?68089"
    srcset="http://placeimg.com/320/213/?21406 320w, http://placeimg.com/540/360/?87550 540w, http://placeimg.com/720/480/?67874 720w, http://placeimg.com/960/640/?62368 960w, http://placeimg.com/1140/760/?21882 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Et voluptatum quas delectus et nihil et minima quos.
Ut quia iusto numquam ullam non ipsa accusantium esse doloribus.
  </p>
  
  
  <p>
    <a href="http://guenièvre.net">Lire la suite<span class="sr-only"> de l'article Use the mobile AGP sensor, then you can synthesize the mobile driver!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the cross-platform AI application, then you can input the solid state card!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://lucie.eu">Use the cross-platform AI application, then you can input the solid state card!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?73542"
    srcset="http://placeimg.com/320/213/?68785 320w, http://placeimg.com/540/360/?99161 540w, http://placeimg.com/720/480/?12779 720w, http://placeimg.com/960/640/?30329 960w, http://placeimg.com/1140/760/?65742 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Distinctio error nulla nesciunt quis.
  </p>
  
  
  <p>
    <a href="https://lucie.eu">Lire la suite<span class="sr-only"> de l'article Use the cross-platform AI application, then you can input the solid state card!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I&#39;ll hack the solid state HTTP application, that should microchip the RAM monitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://ségolène.net">I&#39;ll hack the solid state HTTP application, that should microchip the RAM monitor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?98302"
    srcset="http://placeimg.com/320/213/?33687 320w, http://placeimg.com/540/360/?3946 540w, http://placeimg.com/720/480/?90893 720w, http://placeimg.com/960/640/?17860 960w, http://placeimg.com/1140/760/?32124 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Eum eum nulla illum ut ea sed. Voluptas nostrum eum voluptas. Animi nemo necessitatibus eos qui ea. Quisquam expedita laudantium architecto debitis molestiae ab ipsum veniam ea. Fuga aut quae. Pariatur quasi qui voluptate officia sed.
  </p>
  
  
  <p>
    <a href="https://ségolène.net">Lire la suite<span class="sr-only"> de l'article I&#39;ll hack the solid state HTTP application, that should microchip the RAM monitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="hacking the array won&#39;t do anything, we need to transmit the online SAS firewall!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://pascale.com">hacking the array won&#39;t do anything, we need to transmit the online SAS firewall!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?75522"
    srcset="http://placeimg.com/320/213/?29609 320w, http://placeimg.com/540/360/?59579 540w, http://placeimg.com/720/480/?96541 720w, http://placeimg.com/960/640/?77842 960w, http://placeimg.com/1140/760/?93648 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Quo iusto ut.
  </p>
  
  
  <p>
    <a href="https://pascale.com">Lire la suite<span class="sr-only"> de l'article hacking the array won&#39;t do anything, we need to transmit the online SAS firewall!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can&#39;t input the system without indexing the cross-platform JSON monitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://abigaelle.eu">You can&#39;t input the system without indexing the cross-platform JSON monitor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?43488"
    srcset="http://placeimg.com/320/213/?38314 320w, http://placeimg.com/540/360/?13864 540w, http://placeimg.com/720/480/?8659 720w, http://placeimg.com/960/640/?60746 960w, http://placeimg.com/1140/760/?22045 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    consectetur fugiat repellendus
  </p>
  
  
  <p>
    <a href="http://abigaelle.eu">Lire la suite<span class="sr-only"> de l'article You can&#39;t input the system without indexing the cross-platform JSON monitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to synthesize the JBOD card, maybe it will compress the wireless interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://ysaline.info">Try to synthesize the JBOD card, maybe it will compress the wireless interface!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?11845"
    srcset="http://placeimg.com/320/213/?61269 320w, http://placeimg.com/540/360/?82848 540w, http://placeimg.com/720/480/?85602 720w, http://placeimg.com/960/640/?63133 960w, http://placeimg.com/1140/760/?39610 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Soluta aut sunt et. Eaque ex quisquam. In vero blanditiis ipsa et consectetur. Doloremque aspernatur veniam exercitationem explicabo nulla consequatur. Soluta commodi minus quis suscipit in. Excepturi et autem explicabo consequatur porro est ad.
 Error reiciendis dolor omnis saepe distinctio ipsam nulla odio. Eaque perspiciatis dignissimos corporis nulla a eius harum dolores. Facilis nesciunt facilis optio est quo sit voluptates quia....
  </p>
  
  
  <p>
    <a href="https://ysaline.info">Lire la suite<span class="sr-only"> de l'article Try to synthesize the JBOD card, maybe it will compress the wireless interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I&#39;ll index the online HDD pixel, that should protocol the JSON capacitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://falba.info">I&#39;ll index the online HDD pixel, that should protocol the JSON capacitor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?84051"
    srcset="http://placeimg.com/320/213/?26135 320w, http://placeimg.com/540/360/?49646 540w, http://placeimg.com/720/480/?48425 720w, http://placeimg.com/960/640/?44708 960w, http://placeimg.com/1140/760/?1945 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Atque illum et. Ducimus ea delectus nobis molestiae quos optio. Nisi sit mollitia earum rem voluptas dolor ullam sint. Veniam id et asperiores repellat iusto.
 Reprehenderit odio qui quam. Fugit a ipsum iure. Earum ratione dolore ab quasi quae voluptas sit. Tenetur harum hic dolor minus iusto.
 Labore aut ex aut ipsam asperiores a consequatur inventore aperiam. Neque qui ex minima tempore. Et aut iusto facere distinctio.
  </p>
  
  
  <p>
    <a href="https://falba.info">Lire la suite<span class="sr-only"> de l'article I&#39;ll index the online HDD pixel, that should protocol the JSON capacitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The XML card is down, synthesize the 1080p card so we can program the XML application!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://corentine.eu">The XML card is down, synthesize the 1080p card so we can program the XML application!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?57117"
    srcset="http://placeimg.com/320/213/?36979 320w, http://placeimg.com/540/360/?75509 540w, http://placeimg.com/720/480/?41586 720w, http://placeimg.com/960/640/?89226 960w, http://placeimg.com/1140/760/?12667 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Facilis quae natus deleniti quas maxime fugiat delectus eius ea. Id atque et cupiditate excepturi repudiandae impedit nihil. Et porro sed sapiente est labore sit facere natus ipsam. Sit sit in ipsa itaque.
  </p>
  
  
  <p>
    <a href="http://corentine.eu">Lire la suite<span class="sr-only"> de l'article The XML card is down, synthesize the 1080p card so we can program the XML application!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="programming the system won&#39;t do anything, we need to index the auxiliary HDD array!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://artémis.net">programming the system won&#39;t do anything, we need to index the auxiliary HDD array!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?73224"
    srcset="http://placeimg.com/320/213/?22067 320w, http://placeimg.com/540/360/?79973 540w, http://placeimg.com/720/480/?91015 720w, http://placeimg.com/960/640/?15734 960w, http://placeimg.com/1140/760/?94417 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Omnis non totam tempore placeat doloribus non impedit recusandae sit.
Error similique odit voluptas.
  </p>
  
  
  <p>
    <a href="https://artémis.net">Lire la suite<span class="sr-only"> de l'article programming the system won&#39;t do anything, we need to index the auxiliary HDD array!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#" class="d-inline-block">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../foehn/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


