

<article role="article" aria-label="Lorem ipsum dolor sit amet, consectetur adipisicing elit">
  <header>
    <h3><a class="vd-link-invisible" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  Date de l&#39;événement: </span><time datetime="2017-03-31T13:05:23+00:00">31.03.2017</time>
</p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="/assets/img/picture-960x640.jpg"
    srcset="../../assets/img/picture-320x213.jpg 320w, ../../assets/img/picture-540x360.jpg 540w, ../../assets/img/picture-720x480.jpg 720w, ../../assets/img/picture-960x640.jpg 960w, ../../assets/img/picture-1140x760.jpg 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
</article>

