

<div class="row">
  <div class="col-md-8 order-md-2">
    <h2>Heading 2</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>

  </div>
  <figure class="figure col-md-4 order-md-1">
  <img
    class="img-fluid"
    
    src="/assets/img/picture-960x640.jpg"
    srcset="/assets/img/picture-320x213.jpg 320w, /assets/img/picture-540x360.jpg 540w, /assets/img/picture-720x480.jpg 720w, /assets/img/picture-960x640.jpg 960w, /assets/img/picture-1140x760.jpg 1140w" alt="Alternative text">

  <figcaption class="figure-caption">Ceci est une légende<span class="vd-figure-credits">Crédit photo</span></figcaption>
</figure>

</div>

