<h2 class="vd-heading-light h4 mb-3{% if titleModifier %} {{ titleModifier }}{% endif %}">{{ title }}</h2>
<ul class="list-inline vd-social-icons{% if styleModifier %} {{ styleModifier }}{% endif %}">
    <li class="list-inline-item">
        <a class="mastodon-link vd-social-icon" href="#" title="Lien vers le profil Mastodon">
            <span aria-hidden="true" class="fa-brands fa-mastodon"></span>
            <span class="visually-hidden">Lien vers le profil Mastodon</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="bluesky-link vd-social-icon" href="#" title="Lien vers le profil Bluesky">
            <span aria-hidden="true" class="fa-bluesky fa-brands"></span>
            <span class="visually-hidden">Lien vers le profil Bluesky</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="instagram-link vd-social-icon" href="#" title="Lien vers le profil Instagram">
            <span aria-hidden="true" class="fa-brands fa-instagram"></span>
            <span class="visually-hidden">Lien vers le profil Instagram</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="linkedin-link vd-social-icon" href="#" title="Lien vers le profil Linkedin">
            <span aria-hidden="true" class="fa-brands fa-linkedin"></span>
            <span class="visually-hidden">Lien vers le profil Linkedin</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="facebook-link vd-social-icon" href="#" title="Lien vers le profil Facebook">
            <span aria-hidden="true" class="fa-brands fa-facebook"></span>
            <span class="visually-hidden">Lien vers le profil Facebook</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="twitter-link vd-social-icon" href="#" title="Lien vers le profil Twitter">
            <span aria-hidden="true" class="fa-brands fa-x-twitter"></span>
            <span class="visually-hidden">Lien vers le profil Twitter</span>
        </a>
    </li>
    <li class="d-lg-none list-inline-item">
        <a class="whatsapp-link vd-social-icon" href="#" title="Partager par WhatsApp">
            <span aria-hidden="true" class="fa-brands fa-whatsapp"></span>
            <span class="visually-hidden">Partager par WhatsApp</span>
        </a>
    </li>
</ul>
