<div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-md-end">
        <button type="button"
                class="btn btn-primary btn-sm vd-nav-primary__button align-self-end {% if navOpen %}js-closeMenuOnMobile__button {% else %}collapsed{% endif %}"
                data-bs-toggle="collapse"
                data-bs-target="#nav-primary-container"
                aria-controls="nav-primary-container"
                aria-expanded="{%- if navOpen %}true{% else %}false{% endif -%}">
          <div class="d-flex justify-content-between">
            <div>
              <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
              <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
            </div>
            <div>
              <span class="vd-nav-primary__button--open fas fa-plus"></span>
              <span class="vd-nav-primary__button--close fas fa-minus"></span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse {% if navOpen %}show js-closeMenuOnMobile__container {% endif %}clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="visually-hidden">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  {% for domain in domains.domains %}
                    {% render '@domain-item--small', {name:domain.name,
                    styleModifier:'col-sm-6 col-lg-4 mb-2', description:domain.description}, true %}
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
