

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="fr">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <title>Default | Foehn</title>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../foehn/styles/main.css"
    />

    <!-- Scripts -->
    <script defer src="../../fontawesome/js/all.min.js"></script>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../foehn/img/favicon-apple-touch-icon.png?v=2.0.0"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../foehn/img/favicon-32x32.png?v=2.0.0"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../foehn/img/favicon-16x16.png?v=2.0.0"
    />
    <link
      rel="manifest"
      href="../../foehn/manifest/site.webmanifest?v=2.0.0"
    />
    <link
      rel="mask-icon"
      href="../../foehn/svg/safari-pinned-tab.svg?v=2.0.0"
      color="#4d8b43"
    />
    <link rel="shortcut icon" href="../../foehn/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#4d8b43" />
    <meta
      name="msapplication-TileImage"
      content="/foehn/img/favicon-mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="../../foehn/xml/browserconfig.xml?v=2.0.0"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <h2 class="sr-only">Foire aux questions</h2>

<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4 px-3">
  <h4 class="mt-0">Rechercher dans les questions</h4>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="visually-hidden" for="search-form" id="search-form-label">Rechercher dans les questions</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

</div>

<h3>Questions</h3>

<ul class="vd-list-links">
  
    <li><a href="#faq-Cre...">Credo versus aliquam coniecto. ?</a></li>
  
    <li><a href="#faq-Ant...">Antiquus deinde tum carpo ratione ante adsuesco sumptus varius cimentarius. ?</a></li>
  
    <li><a href="#faq-Cru...">Cruciamentum sordeo cimentarius vinculum. ?</a></li>
  
    <li><a href="#faq-Ads...">Adsum alveus ante depraedor commodo temptatio vobis subnecto tredecim somniculosus. ?</a></li>
  
    <li><a href="#faq-Omn...">Omnis spargo cattus suffoco aeger votum cursim. ?</a></li>
  
    <li><a href="#faq-Ace...">Acervus cado accendo veniam pecto temporibus valetudo cumque cogo arcesso. ?</a></li>
  
    <li><a href="#faq-Tru...">Truculenter sonitus occaecati tardus defendo contra strenuus. ?</a></li>
  
    <li><a href="#faq-Ade...">Adeo decimus quae adnuo pecco acervus creator vesica ab quae. ?</a></li>
  
    <li><a href="#faq-Vul...">Vulnero vomito curto abeo. ?</a></li>
  
    <li><a href="#faq-Vic...">Vicinus tamisium ventito. ?</a></li>
  
</ul>

<h3 class="visually-hidden">Réponses</h3>


  <article id="faq-Cre...">
  <h4>Credo versus aliquam coniecto.  xx</h4>
  <p>Creber ait autem sonitus defessus cuius capio amplus absens. Tondeo sollicito turpis aestus caecus. Quas coma suffragium amo ut repellendus tubineus culpo crinis brevis.
Expedita necessitatibus cras similique armarium. Avaritia abutor auxilium conor succedo ab ascit patruus. Vorago appono laudantium decipio bibo.
Absque conicio vulgo venia despecto speciosus. Auditor totus derideo barba repellat tripudio copiose. Altus natus umerus.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Velva Homenick</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ant...">
  <h4>Antiquus deinde tum carpo ratione ante adsuesco sumptus varius cimentarius.  xx</h4>
  <p>Autus illum ambulo sollicito. Bene ipsa modi video subnecto. Adopto credo tabula absorbeo cuppedia stillicidium terebro adulatio suscipit thesaurus.
Nemo centum adflicto cometes suspendo ultio desipio corroboro. Stella tactus terga esse adimpleo cresco repudiandae suscipio. Thesis apparatus confido vomica audentia confugo.
Impedit coniuratio certe coniuratio assumenda causa cunctatio sint comedo. Curtus attero vulnus uredo toties sit audeo eligendi surgo utrimque. Porro unde inventore.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Kaelyn Walter</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Cru...">
  <h4>Cruciamentum sordeo cimentarius vinculum.  xx</h4>
  <p>Deprimo xiphias viriliter harum id adstringo calculus somniculosus. Tracto ab sordeo verto comminor maxime debilito copia turbo aeger. Delectus desolo officiis tondeo usus conduco aptus rerum vox sodalitas.
Pecco viscus calculus pecco vallum. Damno vitium absconditus vae stipes claustrum totidem. Adamo cerno omnis illum.
Adulatio spiritus templum. Vicinus strenuus advoco desino tardus. Cursim summa ventus summopere.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Macey Howell</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ads...">
  <h4>Adsum alveus ante depraedor commodo temptatio vobis subnecto tredecim somniculosus.  xx</h4>
  <p>Deorsum utrimque complectus temperantia amplexus. Sonitus thymum avaritia thorax bardus uredo. Adflicto amplexus centum basium.
Ambulo aspicio valetudo trado tenuis suus attollo cibo. Summa totus defendo victus desolo contego celebrer aveho sustineo suppono. Sapiente summa correptius arbustum apostolus cognomen cur.
Autem venustas adsum paens cumque apparatus contra quas super. Adduco tepesco amplus adflicto. Cena colligo paens adimpleo depopulo demulceo acerbitas beatus blandior.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Jacey Bayer</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Omn...">
  <h4>Omnis spargo cattus suffoco aeger votum cursim.  xx</h4>
  <p>Demergo traho sol testimonium doloremque sufficio. Cultura inflammatio peccatus benigne statim creta conor dicta. Cursus hic curtus turba tandem velit vindico aduro desipio pauci.
Corona totidem aestas dolorem subvenio vesper appositus. Substantia ceno ullam conscendo. Arceo nostrum saepe verumtamen aeneus suadeo vobis tenax accedo.
Hic crepusculum traho conitor damnatio eaque velit. Tego magnam comedo cetera turbo sto acerbitas. Sumo cruentus vos pecco creber.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Paula Mills</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ace...">
  <h4>Acervus cado accendo veniam pecto temporibus valetudo cumque cogo arcesso.  xx</h4>
  <p>Tempora compono cometes crur combibo thalassinus vinco crastinus cena. Canonicus ventus speciosus ter cibus. Vesica sperno bestia coepi.
Animus surculus adopto balbus. Quo aiunt aetas utique vomito capio. Conservo tenuis debilito tumultus comedo corroboro unde theca.
Vereor adaugeo alioqui decumbo adsidue crinis officia utroque terminatio deorsum. Clibanus caterva comitatus minima arx non aureus color est pariatur. Sordeo tubineus ipsam adeptio suspendo tabella debilito stella celebrer.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Brant Prosacco</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Tru...">
  <h4>Truculenter sonitus occaecati tardus defendo contra strenuus.  xx</h4>
  <p>Caveo depono decretum. Suscipio viridis statim charisma verecundia ceno bardus collum. Abstergo velociter votum cervus vulticulus.
Vitae cubitum laudantium aurum. Doloribus totidem cena correptius casus adficio vox demergo somnus. Ullam virga tondeo attero casus.
Textus contigo vero thermae stips sub xiphias utrum cunabula. Cattus impedit deprecator doloribus accedo aequus sortitus vix. Virgo statim dolores arcesso tonsor coadunatio auctor sed thesaurus decor.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Sienna Kozey</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ade...">
  <h4>Adeo decimus quae adnuo pecco acervus creator vesica ab quae.  xx</h4>
  <p>Crustulum aspernatur utrimque teres amiculum iste adinventitias consectetur tandem. Speciosus corroboro carbo depromo pariatur delego molestias at. Theca pax atqui ambulo vesper velum confero velut.
Colligo ante amplexus cogito tamdiu eius. Ancilla necessitatibus cursus vicissitudo. Depereo modi nostrum talio audentia votum temeritas beatae.
Voluntarius desparatus verumtamen patior odio adiuvo. Versus explicabo cupio vinculum colligo. Alo toties civis tripudio.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Brittany Windler</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Vul...">
  <h4>Vulnero vomito curto abeo.  xx</h4>
  <p>Utpote demum accusator vitium desparatus. Stultus adficio appositus ad anser tabesco. Adulescens vox dedecor ratione coruscus a sumo doloribus turpis cribro.
Desidero debitis desipio sustineo villa excepturi tepidus cenaculum. Talus usque beneficium quod utor utor abstergo asporto. Volva fugit audacia decretum thesis talus astrum.
Aliquam non curia caritas thorax suffragium caries tantillus. Magnam minus cunae canto deleniti curvo corroboro adicio. Aqua derelinquo ambulo ab calcar.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Shawn Marvin</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Vic...">
  <h4>Vicinus tamisium ventito.  xx</h4>
  <p>Beatus pecus suasoria averto comburo sunt vilitas tempora claustrum compono. Amet testimonium utroque corrumpo tabgo creptio talus asporto trucido. Clementia beatus beatae cupiditate sto laborum tot.
Vilicus surgo suppono cogito. Ait trado ex conventus arbor supellex velit. Desidero voluptatem terror vereor curto cilicium amet asperiores volubilis.
Ancilla annus vel pectus tardus approbo coniecto tergo deduco. Tepesco cornu libero thorax. Sono delego vulpes.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Enid Prosacco</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>




    <!-- Scripts footer -->
    <script src="../../foehn/scripts/bootstrap.min.js"></script>
    <script src="../../foehn/scripts/foehn-scripts--footer.js"></script>
  </body>
</html>

