

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="fr">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <title>Default | Foehn</title>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../foehn/styles/main.css"
    />

    <!-- Scripts -->
    <script defer src="../../fontawesome/js/all.min.js"></script>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../foehn/img/favicon-apple-touch-icon.png?v=2.0.0"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../foehn/img/favicon-32x32.png?v=2.0.0"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../foehn/img/favicon-16x16.png?v=2.0.0"
    />
    <link
      rel="manifest"
      href="../../foehn/manifest/site.webmanifest?v=2.0.0"
    />
    <link
      rel="mask-icon"
      href="../../foehn/svg/safari-pinned-tab.svg?v=2.0.0"
      color="#4d8b43"
    />
    <link rel="shortcut icon" href="../../foehn/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#4d8b43" />
    <meta
      name="msapplication-TileImage"
      content="/foehn/img/favicon-mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="../../foehn/xml/browserconfig.xml?v=2.0.0"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <h2 class="sr-only">Foire aux questions</h2>

<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4 px-3">
  <h4 class="mt-0">Rechercher dans les questions</h4>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="visually-hidden" for="search-form" id="search-form-label">Rechercher dans les questions</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

</div>

<h3>Questions</h3>

<ul class="vd-list-links">
  
    <li><a href="#faq-Str...">Strenuus damnatio tutamen casus adulatio delectus. ?</a></li>
  
    <li><a href="#faq-Adi...">Adinventitias armarium triduana utrimque. ?</a></li>
  
    <li><a href="#faq-Ter...">Tergo delego ab. ?</a></li>
  
    <li><a href="#faq-Hic...">Hic solum sollicito cibus tamdiu. ?</a></li>
  
    <li><a href="#faq-Uti...">Utique aiunt considero. ?</a></li>
  
    <li><a href="#faq-Cor...">Corroboro clam atrocitas clibanus. ?</a></li>
  
    <li><a href="#faq-Vic...">Vicissitudo curto decor eaque vereor summopere. ?</a></li>
  
    <li><a href="#faq-Col...">Colo commemoro coma somnus commemoro tutamen. ?</a></li>
  
    <li><a href="#faq-Coh...">Cohors delectatio vicinus termes vere denego ars. ?</a></li>
  
    <li><a href="#faq-Cre...">Creptio sapiente pauci tamdiu error amor enim comptus vos animadverto. ?</a></li>
  
</ul>

<h3 class="visually-hidden">Réponses</h3>


  <article id="faq-Str...">
  <h4>Strenuus damnatio tutamen casus adulatio delectus.  xx</h4>
  <p>Accusator catena talio claudeo collum suscipio vulnus circumvenio. Aegrotatio at vapulus crur auxilium blandior apud corrigo libero alo. Crebro dolorum coniuratio deporto atrox ocer.
Utilis coadunatio alius amplexus vos allatus ipsum. Asporto acer delinquo. Bibo ex alias.
Corrupti claudeo laborum stillicidium atqui enim timor cado. Tener copia libero apparatus vestigium. Vindico autem thesaurus thorax apparatus angustus curo theatrum thorax cuius.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Elisabeth Herzog</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Adi...">
  <h4>Adinventitias armarium triduana utrimque.  xx</h4>
  <p>Solum ea claudeo. Denique ab arca sodalitas surgo. Apparatus sono atrox tego aspicio carcer adimpleo.
Creo vindico aeternus catena. Tamquam antea ambitus suspendo villa canis. Custodia abscido animadverto.
Abbas expedita arcesso dolorum angelus casso beatus distinctio. Depromo absens vix beatus charisma defaeco ambulo aiunt. Avaritia supellex terminatio cruentus tabesco universe agnitio comes confero vero.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Timothy Hickle</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ter...">
  <h4>Tergo delego ab.  xx</h4>
  <p>Demo corrumpo campana socius degenero animus creator. Uterque valens utilis taedium sursum deinde crapula ustilo calamitas assentator. Voro claustrum validus odio est coaegresco.
Cupio ventosus abutor volutabrum despecto nemo victoria suppono decens ago. Vapulus temperantia vigilo custodia umbra comitatus. Cupio cerno esse speculum celer ultra distinctio aptus carus antepono.
Cenaculum crepusculum accommodo copia. Labore conventus temeritas repellat crastinus cunctatio doloremque eius surgo. Thymum vulnero defetiscor acsi coniuratio tum sonitus circumvenio.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Neil Weissnat</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Hic...">
  <h4>Hic solum sollicito cibus tamdiu.  xx</h4>
  <p>Strenuus truculenter cohors. Defendo clamo rerum. Vobis tristis decor adsum custodia triduana caute studio.
Beneficium amoveo cubo crinis recusandae tepidus arx. Praesentium conspergo demulceo credo vestrum subseco assumenda temperantia. Truculenter molestiae deinde theca sum crastinus cilicium abundans.
Audio curiositas molestiae depraedor nostrum. Collum brevis decor error solvo denique. Clibanus adinventitias sed tutamen tamquam vicinus arbustum quis utrum spectaculum.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Stephan King</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Uti...">
  <h4>Utique aiunt considero.  xx</h4>
  <p>Cicuta pauci ambitus umquam velum vehemens compono audentia spiculum. Tristis creber subiungo depraedor aggero quas adhuc arguo. Adficio patruus acer tergiversatio sint.
Qui derelinquo ante trepide. Delicate voluptatem degenero velociter demum demoror. Ullam degusto sonitus optio dolorum coepi demergo vis cogito.
Aiunt denuo thermae asporto perspiciatis conturbo cavus confido. Caelum vivo confugo claro aestivus. Ara depraedor fuga adulescens depraedor.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Shayne Wuckert</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Cor...">
  <h4>Corroboro clam atrocitas clibanus.  xx</h4>
  <p>Varius communis aedificium articulus tristis. Cattus spoliatio ciminatio demonstro dolor sit corporis auctor tergo curvo. Acer appositus abbas ante vulgivagus cogito.
Clarus non ago comitatus ver tabgo timor molestias cimentarius coadunatio. Cattus vesica coadunatio explicabo. Aestas vilis acerbitas.
Vindico adeptio tui labore voluptate verto pauper. Succurro tabella callide atrocitas auxilium atavus audax. Aufero tenetur aegrotatio umerus voro defleo abscido suscipit.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Brycen Koepp</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Vic...">
  <h4>Vicissitudo curto decor eaque vereor summopere.  xx</h4>
  <p>Acsi chirographum labore. Spoliatio creta temptatio paens videlicet debeo. Adulescens at autem basium utilis complectus.
Vulgivagus viscus basium depromo voluptatem totam pecto sustineo. Caelestis coma accusator decipio depereo. Sursum subiungo temptatio copiose aestas crastinus suadeo ullam considero approbo.
Aliqua vulgaris aqua testimonium exercitationem dignissimos color calco tametsi. Assumenda defetiscor deduco utroque. Vulnus delectatio desidero adinventitias curiositas vae subito conatus.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Lera Haag</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Col...">
  <h4>Colo commemoro coma somnus commemoro tutamen.  xx</h4>
  <p>Custodia canto stipes comburo thesaurus. Adhaero catena confero audentia bibo vobis asperiores quo tredecim. Accusamus vinculum summopere ubi numquam quod colo coniuratio.
Valetudo tertius adimpleo ambulo animi adstringo celebrer vigor. Vereor vesica depraedor quam ea. Aegrus neque strenuus unde qui.
Excepturi totam cito nobis adeptio decumbo amet. Vestrum vero officiis argumentum rerum suscipio cruentus. Benevolentia utrum custodia casso cometes minus defungo alveus.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Luna Johnston</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Coh...">
  <h4>Cohors delectatio vicinus termes vere denego ars.  xx</h4>
  <p>Aspicio tempore valeo ascit clarus degero derideo. Demulceo comitatus theca labore. Derideo sophismata celo.
Nemo cras tergo aetas deputo carbo commodi cultellus aliquid sum. Depereo depopulo curto. Titulus crur terra abscido sit error vilis cornu.
Admitto taceo aegre cubitum antiquus carpo usitas tutamen annus eaque. Aperte appono quidem appello absconditus aequitas id amo. Perferendis adhuc stipes certe possimus denego votum campana vox deduco.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Lyla Little</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Cre...">
  <h4>Creptio sapiente pauci tamdiu error amor enim comptus vos animadverto.  xx</h4>
  <p>Ustilo aureus degenero veritatis theatrum cinis. Acies compello amplexus. Dicta adsum convoco eaque tibi cura pecco vere audeo.
Arto credo quasi adsidue delego utor turpis. Color pecus degero cohibeo adfectus debitis. Itaque vitae nostrum strues accusamus utrum strenuus trado.
Ambulo studio abstergo comedo aeternus spes desipio vigor. Aegrus theatrum aperte uterque. Talio charisma est degusto usus celer ulterius.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Isobel Friesen</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>




    <!-- Scripts footer -->
    <script src="../../foehn/scripts/bootstrap.min.js"></script>
    <script src="../../foehn/scripts/foehn-scripts--footer.js"></script>
  </body>
</html>

