

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="fr">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <title>Default | Foehn</title>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../foehn/styles/main.css"
    />

    <!-- Scripts -->
    <script defer src="../../fontawesome/js/all.min.js"></script>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../foehn/img/favicon-apple-touch-icon.png?v=2.0.2"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../foehn/img/favicon-32x32.png?v=2.0.2"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../foehn/img/favicon-16x16.png?v=2.0.2"
    />
    <link
      rel="manifest"
      href="../../foehn/manifest/site.webmanifest?v=2.0.2"
    />
    <link
      rel="mask-icon"
      href="../../foehn/svg/safari-pinned-tab.svg?v=2.0.2"
      color="#4d8b43"
    />
    <link rel="shortcut icon" href="../../foehn/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#4d8b43" />
    <meta
      name="msapplication-TileImage"
      content="/foehn/img/favicon-mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="../../foehn/xml/browserconfig.xml?v=2.0.2"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <ul class="vd-list-links">
  <li>
        <a href="https://sombre-partenaire.com/">Unde fugiat iusto veritatis ea ipsum reprehenderit.</a>
      </li><li>
        <a href="https://insolite-administration.info">Excepturi tempore id distinctio facilis magni modi sequi delectus ducimus.</a>
      </li><li>
        <a href="https://coupable-prestataire-de-services.name">Velit dolorum pariatur debitis cumque reiciendis facilis molestiae.</a>
      </li><li>
        <a href="https://souple-specialiste.org">Ipsum inventore voluptatibus consequatur repellendus dolorem officiis occaecati non suscipit.</a>
      </li><li>
        <a href="https://tranquille-secouriste.info/">A in porro omnis eligendi sed.</a>
      </li><li>
        <a href="https://amorphe-equipe-de-recherche.name">Eos ipsam modi officiis iusto cupiditate dolorum.</a>
      </li><li>
        <a href="https://vorace-specialiste.fr">Natus repellendus culpa ut veniam nostrum.</a>
      </li><li>
        <a href="https://magenta-membre-de-lequipe.net/">Sunt nostrum dolorem quod a quisquam itaque.</a>
      </li><li>
        <a href="https://loufoque-actionnaire.com">Inventore sed officia asperiores voluptates sed nemo fuga.</a>
      </li><li>
        <a href="https://splendide-membre-du-personnel.net">Aut qui mollitia quam ut.</a>
      </li>
</ul>


    <!-- Scripts footer -->
    <script src="../../foehn/scripts/bootstrap.bundle.min.js"></script>
    <script src="../../foehn/scripts/foehn-scripts--footer.js"></script>
  </body>
</html>

