

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="fr">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <title>Default | Foehn</title>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../foehn/styles/main.css"
    />

    <!-- Scripts -->
    <script defer src="../../fontawesome/js/all.min.js"></script>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../foehn/img/favicon-apple-touch-icon.png?v=1.8.1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../foehn/img/favicon-32x32.png?v=1.8.1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../foehn/img/favicon-16x16.png?v=1.8.1"
    />
    <link
      rel="manifest"
      href="../../foehn/manifest/site.webmanifest?v=1.8.1"
    />
    <link
      rel="mask-icon"
      href="../../foehn/svg/safari-pinned-tab.svg?v=1.8.1"
      color="#4d8b43"
    />
    <link rel="shortcut icon" href="../../foehn/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#4d8b43" />
    <meta
      name="msapplication-TileImage"
      content="/foehn/img/favicon-mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="../../foehn/xml/browserconfig.xml?v=1.8.1"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <ul class="vd-list-links">
  <li>
        <a href="http://alcide.name">Excepturi est sed natus perferendis facere omnis.</a>
      </li><li>
        <a href="https://anaëlle.name">Eligendi aut enim consequatur.</a>
      </li><li>
        <a href="https://amalthée.name">Repudiandae esse aut illum asperiores eum aut.</a>
      </li><li>
        <a href="https://valérie.name">Ea nihil sit consequatur soluta molestiae dignissimos.</a>
      </li><li>
        <a href="https://jehanne.com">Est exercitationem officiis nostrum a et ut voluptates quod.</a>
      </li><li>
        <a href="http://sophie.com">Dolorem quam et ut et veritatis magni voluptatem labore.</a>
      </li><li>
        <a href="https://philothée.fr">Adipisci ratione quod non quasi ad cum quia eum ullam.</a>
      </li><li>
        <a href="http://corentin.fr">Sunt possimus et placeat id.</a>
      </li><li>
        <a href="https://andrée.org">Et nemo alias eligendi qui enim eaque velit.</a>
      </li><li>
        <a href="http://pacôme.fr">Distinctio impedit voluptas et totam architecto optio et recusandae.</a>
      </li>
</ul>


    <!-- Scripts footer -->
    <script src="../../foehn/scripts/jquery.slim.min.js"></script>
    <script src="../../foehn/scripts/popper.min.js"></script>
    <script src="../../foehn/scripts/bootstrap.min.js"></script>
    <script src="../../foehn/scripts/foehn-scripts--footer.js"></script>
  </body>
</html>

