

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="fr">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <title>Categories | Foehn</title>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../foehn/styles/main.css"
    />

    <!-- Scripts -->
    <script defer src="../../fontawesome/js/all.min.js"></script>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../foehn/img/favicon-apple-touch-icon.png?v=2.0.1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../foehn/img/favicon-32x32.png?v=2.0.1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../foehn/img/favicon-16x16.png?v=2.0.1"
    />
    <link
      rel="manifest"
      href="../../foehn/manifest/site.webmanifest?v=2.0.1"
    />
    <link
      rel="mask-icon"
      href="../../foehn/svg/safari-pinned-tab.svg?v=2.0.1"
      color="#4d8b43"
    />
    <link rel="shortcut icon" href="../../foehn/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#4d8b43" />
    <meta
      name="msapplication-TileImage"
      content="/foehn/img/favicon-mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="../../foehn/xml/browserconfig.xml?v=2.0.1"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex flex-wrap justify-content-between justify-content-md-end d-print-none">
      <nav class="align-items-center d-flex d-print-none">
  <h2 class="visually-hidden">
    Sous-navigation
  </h2>
  <ul class="list-inline text-md-end small" >
    <li class="list-inline-item me-2">
      <a href="#">Autorités</a>
    </li>
    <li class="list-inline-item me-2">
      <a href="#">Annuaire</a>
    </li>
  </ul>
</nav>

      <button
  id="login-button"
  type="button"
  class="btn btn-primary fs-6"
  data-bs-toggle="collapse"
  data-bs-target="#login-form-collapse"
  aria-expanded="false"
  aria-controls="login-form-collapse"
>
  Se connecter <span class="fas fa-chevron-down text-white ms-1" id="login-button-icon"></span>
</button>

<div id="login-form-collapse" class="collapse shadow border p-3">
  <div class="d-flex flex-column mb-5">
    <div class="d-flex flex-row justify-content-between mb-2">
      <div class="p-2">
        <span class="h4">Particuliers et professionnels</span>
      </div>
      <div class="p-2">
        <a href="#">
          <span class="fas fa-question-circle"></span>
        </a>
      </div>
    </div>
    <div class="p-2 mb-3">
      <a class="btn btn-primary text-center w-100 py-2" href="#">
        <span class="fas fa-external-link-alt me-1 text-white"></span>
        Portail prestations
      </a>
    </div>
    <div class="p-2">
      <a href="#" class="text-decoration-none">
        Vous n'avez pas encore assez au portail ?
      </a>
    </div>
    <div class="px-2">
      <a href="#" class="btn btn-outline-primary text-center w-100 py-2">
        Demander l'accès
      </a>
    </div>
  </div>
  <div class="px-2 mb-5">
    <hr class="opacity-25">
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between mb-2">
      <div class="p-2">
        <span class="h4">Collaborateurs-trices et partenaires</span>
      </div>
      <div class="p-2">
        <a href="#">
          <span class="fas fa-question-circle"></span>
        </a>
      </div>
    </div>
    <div class="p-2">
      <a class="btn btn-secondary text-center w-100 py-2" href="#">
        <span class="fas fa-external-link-alt me-1 text-white"></span>
        Portail IAM
      </a>
    </div>
  </div>
</div>

    </div>
    <a
  href="../accueil"
  class="vd-logo"
  title="Aller à la page d'accueil du Site du Canton de Vaud"
>
  <img
    src="../../foehn/svg/ETATVAUD.svg"
    class="vd-logo__image"
    alt="État de Vaud"
    aria-hidden="true"
  />
</a>

  </div>
  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-md-end">
        <button type="button"
                class="btn btn-primary btn-sm vd-nav-primary__button align-self-end collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#nav-primary-container"
                aria-controls="nav-primary-container"
                aria-expanded="false">
          <div class="d-flex justify-content-between">
            <div>
              <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
              <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
            </div>
            <div>
              <span class="vd-nav-primary__button--open fas fa-plus"></span>
              <span class="vd-nav-primary__button--close fas fa-minus"></span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="visually-hidden">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#culture"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Culture</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#economie"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Economie</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#environnement"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Environnement</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#etat%2C%20droit%2C%20finance"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#formation"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Formation</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#mobilit%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Mobilité</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#sant%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Santé</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#social"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Social</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#vie%20priv%C3%A9e"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Vie privée</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#s%C3%A9curit%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Sécurité</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#territoire"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Territoire</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1" aria-label="Fil d'Ariane">
  <h2 class="visually-hidden">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Autorités</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
      
    
      
        <li class="visually-hidden" aria-current="page">Actualité</li>
      
    
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Categorie: Agriculture</h1>

  </div>

  <div class="container mt-5 vd-content">
    
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="visually-hidden" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="Use the primary ADP bandwidth, then you can program the auxiliary port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://sure-footed-whale.biz/">Use the primary ADP bandwidth, then you can program the auxiliary port!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/JhrCAaH/960/640"
    srcset="https://loremflickr.com/320/213?lock=6811999725781271 320w, https://loremflickr.com/540/360?lock=196070199843022 540w, https://loremflickr.com/720/480?lock=6128425958429393 720w, https://loremflickr.com/960/640?lock=6169717422865946 960w, https://picsum.photos/seed/RSo1pS/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Tutis aequitas ut voro atavus sumptus vespillo explicabo aggredior.
  </p>
  
  
  <p>
    <a href="https://sure-footed-whale.biz/">Lire la suite<span class="visually-hidden"> de l'article Use the primary ADP bandwidth, then you can program the auxiliary port!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we bypass the monitor, we can get to the XML matrix through the cross-platform SDD interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://sociable-valentine.com">If we bypass the monitor, we can get to the XML matrix through the cross-platform SDD interface!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/gfW15p7vj/960/640"
    srcset="https://picsum.photos/seed/DkTuXruW/320/213 320w, https://picsum.photos/seed/tK3wBt/540/360 540w, https://picsum.photos/seed/I5txz/720/480 720w, https://picsum.photos/seed/7RJNfmq/960/640 960w, https://picsum.photos/seed/yF6Jb5tapQ/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Statim ambitus anser. Pariatur tres eaque crur valens viscus crinis totidem antiquus aranea. Aptus una amplexus cattus inventore.
  </p>
  
  
  <p>
    <a href="https://sociable-valentine.com">Lire la suite<span class="visually-hidden"> de l'article If we bypass the monitor, we can get to the XML matrix through the cross-platform SDD interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to override the SQL hard drive, maybe it will parse the solid state firewall!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://untried-fedora.com">Try to override the SQL hard drive, maybe it will parse the solid state firewall!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=6792653811370099"
    srcset="https://loremflickr.com/320/213?lock=5043821176300339 320w, https://picsum.photos/seed/Let6PHQmM/540/360 540w, https://picsum.photos/seed/roEzk98/720/480 720w, https://loremflickr.com/960/640?lock=975275816899626 960w, https://picsum.photos/seed/9UP0U/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Quis villa votum aegre.
  </p>
  
  
  <p>
    <a href="https://untried-fedora.com">Lire la suite<span class="visually-hidden"> de l'article Try to override the SQL hard drive, maybe it will parse the solid state firewall!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to connect the CLI driver, maybe it will synthesize the online array!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://unwritten-editor.net">Try to connect the CLI driver, maybe it will synthesize the online array!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/JpmfOR8JF/960/640"
    srcset="https://loremflickr.com/320/213?lock=8992299813129792 320w, https://picsum.photos/seed/ofC5pI/540/360 540w, https://loremflickr.com/720/480?lock=5174402358051009 720w, https://loremflickr.com/960/640?lock=1995116395865241 960w, https://picsum.photos/seed/VSFtExps8j/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Ulterius depono degenero supra valens cedo aiunt. Validus ascisco tantum barba approbo. Varietas comparo deorsum admoneo. Adipiscor tenuis delicate tracto laudantium creta adfero. Vesco deripio audacia vallum comprehendo. Subiungo ascisco rerum cursus vehemens subseco toties vigilo.
  </p>
  
  
  <p>
    <a href="https://unwritten-editor.net">Lire la suite<span class="visually-hidden"> de l'article Try to connect the CLI driver, maybe it will synthesize the online array!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="quantifying the program won&#39;t do anything, we need to index the auxiliary OCR monitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://scornful-hovel.info">quantifying the program won&#39;t do anything, we need to index the auxiliary OCR monitor!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/ve8btO/960/640"
    srcset="https://loremflickr.com/320/213?lock=2790456078001115 320w, https://picsum.photos/seed/XIuNQ9hWi/540/360 540w, https://loremflickr.com/720/480?lock=5050815331092693 720w, https://loremflickr.com/960/640?lock=8255700427413657 960w, https://loremflickr.com/1140/760?lock=5738819658210903 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Impedit curia arbustum arbustum decipio cometes arca dedecor conturbo sumptus. Confugo ascit ademptio altus ex attero. Comminor cornu talio.
  </p>
  
  
  <p>
    <a href="https://scornful-hovel.info">Lire la suite<span class="visually-hidden"> de l'article quantifying the program won&#39;t do anything, we need to index the auxiliary OCR monitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to parse the VGA microchip, maybe it will compress the virtual array!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://glass-nightlife.info">Try to parse the VGA microchip, maybe it will compress the virtual array!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/ADkJl/960/640"
    srcset="https://loremflickr.com/320/213?lock=5113466178956273 320w, https://loremflickr.com/540/360?lock=7850509076815412 540w, https://loremflickr.com/720/480?lock=2837584779000486 720w, https://loremflickr.com/960/640?lock=2275050701898976 960w, https://loremflickr.com/1140/760?lock=5955896358882853 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Argentum corrupti corrumpo comminor. Nulla articulus summa complectus admoneo capto coaegresco ultio atrocitas aliquam. Currus quia verus traho supplanto aufero.
  </p>
  
  
  <p>
    <a href="https://glass-nightlife.info">Lire la suite<span class="visually-hidden"> de l'article Try to parse the VGA microchip, maybe it will compress the virtual array!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to transmit the neural SMS transmitter!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://friendly-parsnip.com">We need to transmit the neural SMS transmitter!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=8101961876301141"
    srcset="https://loremflickr.com/320/213?lock=4203419196653754 320w, https://loremflickr.com/540/360?lock=20667525792613 540w, https://picsum.photos/seed/2fOI2/720/480 720w, https://loremflickr.com/960/640?lock=7816446126514168 960w, https://picsum.photos/seed/sCkrxth6fg/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Ventosus est tero. Acquiro ut ait molestias sursum clarus. Delego deserunt cibus audentia bonus utrimque.
  </p>
  
  
  <p>
    <a href="https://friendly-parsnip.com">Lire la suite<span class="visually-hidden"> de l'article We need to transmit the neural SMS transmitter!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="transmitting the monitor won&#39;t do anything, we need to index the neural RAM card!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://squeaky-march.org">transmitting the monitor won&#39;t do anything, we need to index the neural RAM card!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/l5qy0d3/960/640"
    srcset="https://picsum.photos/seed/WxDjEIf/320/213 320w, https://loremflickr.com/540/360?lock=432376888116195 540w, https://loremflickr.com/720/480?lock=8258440708314978 720w, https://loremflickr.com/960/640?lock=1349666785034497 960w, https://picsum.photos/seed/2W7ry/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Acervus absum adiuvo tametsi corrupti cibo thema blandior.
  </p>
  
  
  <p>
    <a href="https://squeaky-march.org">Lire la suite<span class="visually-hidden"> de l'article transmitting the monitor won&#39;t do anything, we need to index the neural RAM card!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The SMS circuit is down, compress the online bandwidth so we can copy the SMTP interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://clueless-meal.org">The SMS circuit is down, compress the online bandwidth so we can copy the SMTP interface!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/4OxOvLe/960/640"
    srcset="https://picsum.photos/seed/Vl7UnX/320/213 320w, https://picsum.photos/seed/UWQkVT/540/360 540w, https://loremflickr.com/720/480?lock=1710877241237928 720w, https://loremflickr.com/960/640?lock=3266413312404667 960w, https://picsum.photos/seed/xslwY/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Viriliter adsuesco demens careo callide alioqui blanditiis. Cura placeat dolore provident auxilium iusto. Vociferor solvo ultio suffoco admiratio surculus saepe dedico decerno.
Terreo terror creptio admoneo aurum adulatio earum. Cimentarius bellicus tribuo pecto cerno illum theca angulus deprimo. Fugit sui ustilo alii patruus versus.
Turpis adimpleo sit apostolus vitae. Distinctio sed utpote dedico turpis debeo adflicto. Tribuo clarus cenaculum...
  </p>
  
  
  <p>
    <a href="https://clueless-meal.org">Lire la suite<span class="visually-hidden"> de l'article The SMS circuit is down, compress the online bandwidth so we can copy the SMTP interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to hack the 1080p XSS feed!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://made-up-cash.net/">We need to hack the 1080p XSS feed!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/9iOPnp/960/640"
    srcset="https://picsum.photos/seed/4xL1FQslJ/320/213 320w, https://loremflickr.com/540/360?lock=1994790562198799 540w, https://picsum.photos/seed/tzo6XSKZW/720/480 720w, https://loremflickr.com/960/640?lock=7249584258008367 960w, https://loremflickr.com/1140/760?lock=1779133536456393 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Clam alveus auxilium aut tripudio cubo vox abstergo utrimque spoliatio.
Stultus admoveo uter occaecati victoria agnitio cunabula somniculosus votum.
Carbo terminatio vergo aqua ducimus auctus subito curis.
  </p>
  
  
  <p>
    <a href="https://made-up-cash.net/">Lire la suite<span class="visually-hidden"> de l'article We need to hack the 1080p XSS feed!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="visually-hidden">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="visually-hidden">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 visually-hidden">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="visually-hidden">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="visually-hidden">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="visually-hidden">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="visually-hidden">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="visually-hidden">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="visually-hidden">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-end">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 visually-hidden">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 end">
              <a href="#" class="d-inline-block">
                <span class="visually-hidden">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../foehn/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <!-- Scripts footer -->
    <script src="../../foehn/scripts/bootstrap.min.js"></script>
    <script src="../../foehn/scripts/foehn-scripts--footer.js"></script>
  </body>
</html>

