

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="fr">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <title>Activities | Foehn</title>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../foehn/styles/main.css"
    />

    <!-- Scripts -->
    <script defer src="../../fontawesome/js/all.min.js"></script>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../foehn/img/favicon-apple-touch-icon.png?v=2.0.1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../foehn/img/favicon-32x32.png?v=2.0.1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../foehn/img/favicon-16x16.png?v=2.0.1"
    />
    <link
      rel="manifest"
      href="../../foehn/manifest/site.webmanifest?v=2.0.1"
    />
    <link
      rel="mask-icon"
      href="../../foehn/svg/safari-pinned-tab.svg?v=2.0.1"
      color="#4d8b43"
    />
    <link rel="shortcut icon" href="../../foehn/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#4d8b43" />
    <meta
      name="msapplication-TileImage"
      content="/foehn/img/favicon-mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="../../foehn/xml/browserconfig.xml?v=2.0.1"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex flex-wrap justify-content-between justify-content-md-end d-print-none">
      <nav class="align-items-center d-flex d-print-none">
  <h2 class="visually-hidden">
    Sous-navigation
  </h2>
  <ul class="list-inline text-md-end small" >
    <li class="list-inline-item me-2">
      <a href="#">Autorités</a>
    </li>
    <li class="list-inline-item me-2">
      <a href="#">Annuaire</a>
    </li>
  </ul>
</nav>

      <button
  id="login-button"
  type="button"
  class="btn btn-primary fs-6"
  data-bs-toggle="collapse"
  data-bs-target="#login-form-collapse"
  aria-expanded="false"
  aria-controls="login-form-collapse"
>
  Se connecter <span class="fas fa-chevron-down text-white ms-1" id="login-button-icon"></span>
</button>

<div id="login-form-collapse" class="collapse shadow border p-3">
  <div class="d-flex flex-column mb-5">
    <div class="d-flex flex-row justify-content-between mb-2">
      <div class="p-2">
        <span class="h4">Particuliers et professionnels</span>
      </div>
      <div class="p-2">
        <a href="#">
          <span class="fas fa-question-circle"></span>
        </a>
      </div>
    </div>
    <div class="p-2 mb-3">
      <a class="btn btn-primary text-center w-100 py-2" href="#">
        <span class="fas fa-external-link-alt me-1 text-white"></span>
        Portail prestations
      </a>
    </div>
    <div class="p-2">
      <a href="#" class="text-decoration-none">
        Vous n'avez pas encore assez au portail ?
      </a>
    </div>
    <div class="px-2">
      <a href="#" class="btn btn-outline-primary text-center w-100 py-2">
        Demander l'accès
      </a>
    </div>
  </div>
  <div class="px-2 mb-5">
    <hr class="opacity-25">
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between mb-2">
      <div class="p-2">
        <span class="h4">Collaborateurs-trices et partenaires</span>
      </div>
      <div class="p-2">
        <a href="#">
          <span class="fas fa-question-circle"></span>
        </a>
      </div>
    </div>
    <div class="p-2">
      <a class="btn btn-secondary text-center w-100 py-2" href="#">
        <span class="fas fa-external-link-alt me-1 text-white"></span>
        Portail IAM
      </a>
    </div>
  </div>
</div>

    </div>
    <a
  href="../accueil"
  class="vd-logo"
  title="Aller à la page d'accueil du Site du Canton de Vaud"
>
  <img
    src="../../foehn/svg/ETATVAUD.svg"
    class="vd-logo__image"
    alt="État de Vaud"
    aria-hidden="true"
  />
</a>

  </div>
  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-md-end">
        <button type="button"
                class="btn btn-primary btn-sm vd-nav-primary__button align-self-end collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#nav-primary-container"
                aria-controls="nav-primary-container"
                aria-expanded="false">
          <div class="d-flex justify-content-between">
            <div>
              <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
              <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
            </div>
            <div>
              <span class="vd-nav-primary__button--open fas fa-plus"></span>
              <span class="vd-nav-primary__button--close fas fa-minus"></span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="visually-hidden">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#culture"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Culture</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#economie"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Economie</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#environnement"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Environnement</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#etat%2C%20droit%2C%20finance"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#formation"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Formation</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#mobilit%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Mobilité</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#sant%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Santé</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#social"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Social</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#vie%20priv%C3%A9e"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Vie privée</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#s%C3%A9curit%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Sécurité</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#territoire"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Territoire</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1" aria-label="Fil d'Ariane">
  <h2 class="visually-hidden">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Autorités</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
      
    
    
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Toutes les activités</h1>

  </div>

  <div class="container mt-5 vd-content">
    
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="visually-hidden" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="You can&#39;t compress the bandwidth without programming the wireless SMTP circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://raw-minor.biz">You can&#39;t compress the bandwidth without programming the wireless SMTP circuit!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=3344911472083675"
    srcset="https://picsum.photos/seed/B4WFwV7U/320/213 320w, https://picsum.photos/seed/x9fxtJB3IH/540/360 540w, https://loremflickr.com/720/480?lock=968785380321242 720w, https://loremflickr.com/960/640?lock=828422131734634 960w, https://picsum.photos/seed/wR6znVT/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Reprehenderit administratio comprehendo cavus vorax cito demitto.
  </p>
  
  
  <p>
    <a href="https://raw-minor.biz">Lire la suite<span class="visually-hidden"> de l'article You can&#39;t compress the bandwidth without programming the wireless SMTP circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can&#39;t program the application without hacking the auxiliary USB microchip!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://shallow-tomography.name/">You can&#39;t program the application without hacking the auxiliary USB microchip!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=6096990663841407"
    srcset="https://picsum.photos/seed/74tMBIrxjd/320/213 320w, https://picsum.photos/seed/IiIGCl/540/360 540w, https://picsum.photos/seed/3gmze0T/720/480 720w, https://picsum.photos/seed/zPeH6/960/640 960w, https://picsum.photos/seed/t4kMPd/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Acceptus tergeo tersus ipsa deinde sono denuo aequus denuncio. Amita vis sol decor. Vulgus aer natus stipes aliqua sulum avaritia apto.
  </p>
  
  
  <p>
    <a href="https://shallow-tomography.name/">Lire la suite<span class="visually-hidden"> de l'article You can&#39;t program the application without hacking the auxiliary USB microchip!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I&#39;ll bypass the open-source AGP program, that should card the CLI program!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://impartial-governance.name/">I&#39;ll bypass the open-source AGP program, that should card the CLI program!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=5458274994632630"
    srcset="https://picsum.photos/seed/NQ9nvx4/320/213 320w, https://loremflickr.com/540/360?lock=8959815538731066 540w, https://picsum.photos/seed/TSvdh/720/480 720w, https://loremflickr.com/960/640?lock=5109099345847812 960w, https://loremflickr.com/1140/760?lock=2995484498663198 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Corporis autem tempus desipio. Mollitia patior fugit. Somnus adhuc cognomen adflicto agnitio clementia quasi.
Magni valetudo verto sto. Infit vigilo ait sponte tyrannus sui. Cuppedia uredo ut adhaero careo deleniti.
Surgo tener alo pecto aliquid recusandae magni pectus demitto capio. Desolo artificiose assentator ter. Amo torqueo capto defleo spiculum degusto.
  </p>
  
  
  <p>
    <a href="https://impartial-governance.name/">Lire la suite<span class="visually-hidden"> de l'article I&#39;ll bypass the open-source AGP program, that should card the CLI program!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="navigating the interface won&#39;t do anything, we need to connect the solid state EXE alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://skeletal-formation.name">navigating the interface won&#39;t do anything, we need to connect the solid state EXE alarm!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=5606438909076863"
    srcset="https://loremflickr.com/320/213?lock=4499686913130899 320w, https://picsum.photos/seed/UmKjk/540/360 540w, https://picsum.photos/seed/0ho6HqK/720/480 720w, https://loremflickr.com/960/640?lock=1117721076289088 960w, https://picsum.photos/seed/IiJU6STlB/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Vilis at volo tandem spoliatio explicabo apostolus. A vox vigor incidunt teres. Textus cubitum vulgaris.
Cura vomito coma cultellus aspicio. Vomer thalassinus tergo apparatus truculenter absque caterva sufficio comprehendo. Cruciamentum comptus amor vorago aliquid.
Cum accommodo stultus vir sponte cernuus temptatio. Titulus tergum tabernus. Aetas validus stultus copia vivo volaticus provident.
  </p>
  
  
  <p>
    <a href="https://skeletal-formation.name">Lire la suite<span class="visually-hidden"> de l'article navigating the interface won&#39;t do anything, we need to connect the solid state EXE alarm!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The SAS capacitor is down, hack the cross-platform array so we can transmit the SSD transmitter!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://silver-sarong.com/">The SAS capacitor is down, hack the cross-platform array so we can transmit the SSD transmitter!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=7377239705770176"
    srcset="https://picsum.photos/seed/x8nyMsIk/320/213 320w, https://picsum.photos/seed/RMXQm/540/360 540w, https://loremflickr.com/720/480?lock=8078543107604005 720w, https://loremflickr.com/960/640?lock=151920501839162 960w, https://picsum.photos/seed/xcId06w/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Cupiditas dens laudantium dolorum. Atrox vapulus virgo theca certe soleo statim bardus vilis. Spes benigne uterque alius nihil careo ducimus aranea harum alveus.
  </p>
  
  
  <p>
    <a href="https://silver-sarong.com/">Lire la suite<span class="visually-hidden"> de l'article The SAS capacitor is down, hack the cross-platform array so we can transmit the SSD transmitter!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I&#39;ll back up the bluetooth JSON hard drive, that should firewall the CLI interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://suburban-sesame.biz">I&#39;ll back up the bluetooth JSON hard drive, that should firewall the CLI interface!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/QcZ0D/960/640"
    srcset="https://loremflickr.com/320/213?lock=1978264689862372 320w, https://loremflickr.com/540/360?lock=2796959164517951 540w, https://loremflickr.com/720/480?lock=6549297378792679 720w, https://loremflickr.com/960/640?lock=4844100715343689 960w, https://loremflickr.com/1140/760?lock=5628723652959794 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Perspiciatis clam amissio.
  </p>
  
  
  <p>
    <a href="https://suburban-sesame.biz">Lire la suite<span class="visually-hidden"> de l'article I&#39;ll back up the bluetooth JSON hard drive, that should firewall the CLI interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can&#39;t reboot the program without connecting the multi-byte FTP pixel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://glossy-substitution.com/">You can&#39;t reboot the program without connecting the multi-byte FTP pixel!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=8206237630622501"
    srcset="https://picsum.photos/seed/t4u0N/320/213 320w, https://picsum.photos/seed/bqcb6gvPLE/540/360 540w, https://picsum.photos/seed/esIx3HTaT/720/480 720w, https://loremflickr.com/960/640?lock=3100017413279777 960w, https://loremflickr.com/1140/760?lock=7094083611642113 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Thorax astrum placeat. Adstringo tabella vero sophismata arma triduana autem tactus trans cado. Clarus alter cur caput universe placeat aliquam adhaero stella comminor.
  </p>
  
  
  <p>
    <a href="https://glossy-substitution.com/">Lire la suite<span class="visually-hidden"> de l'article You can&#39;t reboot the program without connecting the multi-byte FTP pixel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to calculate the redundant SMS bandwidth!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://filthy-intent.net/">We need to calculate the redundant SMS bandwidth!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=4782794618859664"
    srcset="https://picsum.photos/seed/AoYN5cN/320/213 320w, https://loremflickr.com/540/360?lock=606467706448827 540w, https://picsum.photos/seed/PiINc/720/480 720w, https://loremflickr.com/960/640?lock=2843944310806892 960w, https://loremflickr.com/1140/760?lock=3210976399758479 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Conturbo claro voco tamisium annus. Venustas strues aeger. Beatae sto somnus candidus.
Suscipio conatus adnuo incidunt amicitia maxime. Vinco ter velut nisi uredo umbra pecus. Amita defluo aut synagoga cognatus.
Blandior alienus testimonium terreo sonitus. Tamdiu eum terebro appello carus vivo vicissitudo. Causa incidunt bardus demoror confido illum aut.
  </p>
  
  
  <p>
    <a href="https://filthy-intent.net/">Lire la suite<span class="visually-hidden"> de l'article We need to calculate the redundant SMS bandwidth!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can&#39;t hack the system without connecting the multi-byte SMS panel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://excited-rosemary.biz/">You can&#39;t hack the system without connecting the multi-byte SMS panel!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/SPSie5R/960/640"
    srcset="https://loremflickr.com/320/213?lock=2073513728329609 320w, https://loremflickr.com/540/360?lock=8880913045437828 540w, https://loremflickr.com/720/480?lock=4277903257436802 720w, https://loremflickr.com/960/640?lock=6122494308695297 960w, https://loremflickr.com/1140/760?lock=281937114732053 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Cultura conitor deripio vesper terra iusto. Aegre cuppedia cultellus molestiae nihil ut. Supra tum cum contigo absum tergum via crebro terreo vindico.
Debitis vinco vos utilis explicabo similique. Terra cohors tyrannus utroque toties curso temperantia iure odio subiungo. Abundans modi curia speculum cursus.
Thorax sunt taedium admoneo arbor statua pecus asporto. Cur vulgaris administratio crapula. Thymbra damnatio tertius conitor chirographum...
  </p>
  
  
  <p>
    <a href="https://excited-rosemary.biz/">Lire la suite<span class="visually-hidden"> de l'article You can&#39;t hack the system without connecting the multi-byte SMS panel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to copy the solid state THX capacitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://quick-witted-traffic.info">We need to copy the solid state THX capacitor!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/92iHx/960/640"
    srcset="https://loremflickr.com/320/213?lock=220932802060867 320w, https://picsum.photos/seed/vvVuAftt/540/360 540w, https://loremflickr.com/720/480?lock=5029756539141690 720w, https://picsum.photos/seed/eJnwEBVt/960/640 960w, https://picsum.photos/seed/oeqOxWq/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Crur decor colligo accusantium. Quas summopere thermae ater corrupti patruus vinco. Amicitia apparatus terreo autem caveo sit astrum arbustum deludo versus.
Animi cunabula delectus timor vigor amplitudo certe celo. Defero ultio infit tamisium sub. Villa cuius abutor quasi animus demo uxor.
Voluptatem ademptio corrigo. Coma ancilla arbustum uterque comptus cursus. Sortitus nemo aperio subvenio demens arbor ustulo.
  </p>
  
  
  <p>
    <a href="https://quick-witted-traffic.info">Lire la suite<span class="visually-hidden"> de l'article We need to copy the solid state THX capacitor!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="visually-hidden">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="visually-hidden">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 visually-hidden">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="visually-hidden">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="visually-hidden">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="visually-hidden">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="visually-hidden">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="visually-hidden">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="visually-hidden">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-end">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 visually-hidden">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 end">
              <a href="#" class="d-inline-block">
                <span class="visually-hidden">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../foehn/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <!-- Scripts footer -->
    <script src="../../foehn/scripts/bootstrap.min.js"></script>
    <script src="../../foehn/scripts/foehn-scripts--footer.js"></script>
  </body>
</html>

