

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="fr">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <title>Activities | Foehn</title>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../foehn/styles/main.css"
    />

    <!-- Scripts -->
    <script defer src="../../fontawesome/js/all.min.js"></script>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../foehn/img/favicon-apple-touch-icon.png?v=2.0.0"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../foehn/img/favicon-32x32.png?v=2.0.0"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../foehn/img/favicon-16x16.png?v=2.0.0"
    />
    <link
      rel="manifest"
      href="../../foehn/manifest/site.webmanifest?v=2.0.0"
    />
    <link
      rel="mask-icon"
      href="../../foehn/svg/safari-pinned-tab.svg?v=2.0.0"
      color="#4d8b43"
    />
    <link rel="shortcut icon" href="../../foehn/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#4d8b43" />
    <meta
      name="msapplication-TileImage"
      content="/foehn/img/favicon-mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="../../foehn/xml/browserconfig.xml?v=2.0.0"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex flex-wrap justify-content-between justify-content-md-end d-print-none">
      <nav class="align-items-center d-flex d-print-none">
  <h2 class="visually-hidden">
    Sous-navigation
  </h2>
  <ul class="list-inline text-md-end small" >
    <li class="list-inline-item me-2">
      <a href="#">Autorités</a>
    </li>
    <li class="list-inline-item me-2">
      <a href="#">Annuaire</a>
    </li>
  </ul>
</nav>

      <button
  id="login-button"
  type="button"
  class="btn btn-primary fs-6"
  data-bs-toggle="collapse"
  data-bs-target="#login-form-collapse"
  aria-expanded="false"
  aria-controls="login-form-collapse"
>
  Se connecter <span class="fas fa-chevron-down text-white ms-1" id="login-button-icon"></span>
</button>

<div id="login-form-collapse" class="collapse shadow border p-3">
  <div class="d-flex flex-column mb-5">
    <div class="d-flex flex-row justify-content-between mb-2">
      <div class="p-2">
        <span class="h4">Particuliers et professionnels</span>
      </div>
      <div class="p-2">
        <a href="#">
          <span class="fas fa-question-circle"></span>
        </a>
      </div>
    </div>
    <div class="p-2 mb-3">
      <a class="btn btn-primary text-center w-100 py-2" href="#">
        <span class="fas fa-external-link-alt me-1 text-white"></span>
        Portail prestations
      </a>
    </div>
    <div class="p-2">
      <a href="#" class="text-decoration-none">
        Vous n'avez pas encore assez au portail ?
      </a>
    </div>
    <div class="px-2">
      <a href="#" class="btn btn-outline-primary text-center w-100 py-2">
        Demander l'accès
      </a>
    </div>
  </div>
  <div class="px-2 mb-5">
    <hr class="opacity-25">
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between mb-2">
      <div class="p-2">
        <span class="h4">Collaborateurs-trices et partenaires</span>
      </div>
      <div class="p-2">
        <a href="#">
          <span class="fas fa-question-circle"></span>
        </a>
      </div>
    </div>
    <div class="p-2">
      <a class="btn btn-secondary text-center w-100 py-2" href="#">
        <span class="fas fa-external-link-alt me-1 text-white"></span>
        Portail IAM
      </a>
    </div>
  </div>
</div>

    </div>
    <a
  href="../accueil"
  class="vd-logo"
  title="Aller à la page d'accueil du Site du Canton de Vaud"
>
  <img
    src="../../foehn/svg/ETATVAUD.svg"
    class="vd-logo__image"
    alt="État de Vaud"
    aria-hidden="true"
  />
</a>

  </div>
  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-md-end">
        <button type="button"
                class="btn btn-primary btn-sm vd-nav-primary__button align-self-end collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#nav-primary-container"
                aria-controls="nav-primary-container"
                aria-expanded="false">
          <div class="d-flex justify-content-between">
            <div>
              <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
              <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
            </div>
            <div>
              <span class="vd-nav-primary__button--open fas fa-plus"></span>
              <span class="vd-nav-primary__button--close fas fa-minus"></span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="visually-hidden">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#culture"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Culture</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#economie"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Economie</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#environnement"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Environnement</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#etat%2C%20droit%2C%20finance"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#formation"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Formation</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#mobilit%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Mobilité</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#sant%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Santé</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#social"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Social</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#vie%20priv%C3%A9e"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Vie privée</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#s%C3%A9curit%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Sécurité</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#territoire"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Territoire</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1" aria-label="Fil d'Ariane">
  <h2 class="visually-hidden">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Autorités</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
      
    
    
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Toutes les activités</h1>

  </div>

  <div class="container mt-5 vd-content">
    
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="visually-hidden" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="I&#39;ll program the virtual AI circuit, that should hard drive the DRAM matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://crafty-molasses.org/">I&#39;ll program the virtual AI circuit, that should hard drive the DRAM matrix!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/Joqim2js/960/640"
    srcset="https://loremflickr.com/320/213?lock=3468065759181695 320w, https://picsum.photos/seed/MhoWUZnP/540/360 540w, https://picsum.photos/seed/jJQ3U/720/480 720w, https://loremflickr.com/960/640?lock=6193438480551270 960w, https://loremflickr.com/1140/760?lock=7030834747334532 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Absconditus arceo crebro acer ait undique centum. Sollicito una terebro defero amplexus decet carbo cunae. Sed astrum voluptatem acervus placeat paens pecto tredecim argentum.
  </p>
  
  
  <p>
    <a href="https://crafty-molasses.org/">Lire la suite<span class="visually-hidden"> de l'article I&#39;ll program the virtual AI circuit, that should hard drive the DRAM matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the virtual CLI program, then you can quantify the auxiliary array!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://aching-sand.net/">Use the virtual CLI program, then you can quantify the auxiliary array!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/iFhyWf5x/960/640"
    srcset="https://picsum.photos/seed/owQE7tu/320/213 320w, https://loremflickr.com/540/360?lock=6874427071519953 540w, https://picsum.photos/seed/j7C7HP05k/720/480 720w, https://loremflickr.com/960/640?lock=8959679309430646 960w, https://picsum.photos/seed/O6kUMlj/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Clibanus tubineus tibi ad arca facilis sopor pauper urbs vorago. Tremo cum iure timor contabesco victus. Eius convoco cibo stultus testimonium utique.
Abundans tabgo adulatio sponte comprehendo. A sopor surgo deorsum accusator cuius. Celo deputo vesica amoveo doloremque terreo.
Sui nesciunt deludo solitudo quod. Substantia ultio suadeo. Varius cognatus a traho attollo.
  </p>
  
  
  <p>
    <a href="https://aching-sand.net/">Lire la suite<span class="visually-hidden"> de l'article Use the virtual CLI program, then you can quantify the auxiliary array!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the 1080p HTTP panel, then you can reboot the 1080p capacitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://willing-colon.biz/">Use the 1080p HTTP panel, then you can reboot the 1080p capacitor!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=2896299326483846"
    srcset="https://loremflickr.com/320/213?lock=123774456351090 320w, https://picsum.photos/seed/JpgVA/540/360 540w, https://loremflickr.com/720/480?lock=1566877374314040 720w, https://loremflickr.com/960/640?lock=7399100629674 960w, https://loremflickr.com/1140/760?lock=2180011838777146 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Ater conatus astrum territo.
  </p>
  
  
  <p>
    <a href="https://willing-colon.biz/">Lire la suite<span class="visually-hidden"> de l'article Use the 1080p HTTP panel, then you can reboot the 1080p capacitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to generate the SCSI monitor, maybe it will override the virtual card!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://spherical-countess.com">Try to generate the SCSI monitor, maybe it will override the virtual card!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=6528128479671652"
    srcset="https://picsum.photos/seed/vai2EgGB/320/213 320w, https://picsum.photos/seed/li1Zu/540/360 540w, https://picsum.photos/seed/4IlQ57/720/480 720w, https://loremflickr.com/960/640?lock=1768825035428871 960w, https://loremflickr.com/1140/760?lock=754826834671410 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Alo beatus amissio sponte adversus templum celebrer omnis.
Usque vestigium defluo.
Volva aut itaque venustas.
  </p>
  
  
  <p>
    <a href="https://spherical-countess.com">Lire la suite<span class="visually-hidden"> de l'article Try to generate the SCSI monitor, maybe it will override the virtual card!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="parsing the interface won&#39;t do anything, we need to parse the back-end EXE matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://bossy-signature.net">parsing the interface won&#39;t do anything, we need to parse the back-end EXE matrix!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=7867748196198858"
    srcset="https://loremflickr.com/320/213?lock=3632932333776078 320w, https://loremflickr.com/540/360?lock=5924172317903226 540w, https://picsum.photos/seed/EWaEkND/720/480 720w, https://picsum.photos/seed/v2dzsa/960/640 960w, https://picsum.photos/seed/dsgdq/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Caput cupiditate caries veniam terga defetiscor.
Abutor aer urbs antiquus error fugiat acceptus cubicularis.
Statua coaegresco cattus tabesco provident ventosus pariatur.
Campana tum basium victoria bellicus theca.
Combibo comes thesaurus impedit damnatio.
  </p>
  
  
  <p>
    <a href="https://bossy-signature.net">Lire la suite<span class="visually-hidden"> de l'article parsing the interface won&#39;t do anything, we need to parse the back-end EXE matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The HTTP array is down, navigate the digital bus so we can parse the EXE interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://unsteady-ghost.com/">The HTTP array is down, navigate the digital bus so we can parse the EXE interface!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/jOWqvKt/960/640"
    srcset="https://loremflickr.com/320/213?lock=3019269563754162 320w, https://picsum.photos/seed/pStYpuGmi/540/360 540w, https://loremflickr.com/720/480?lock=5034914848775980 720w, https://loremflickr.com/960/640?lock=8052633633610181 960w, https://loremflickr.com/1140/760?lock=2458101870834674 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Auditor corporis volaticus alter curtus aspernatur adopto.
  </p>
  
  
  <p>
    <a href="https://unsteady-ghost.com/">Lire la suite<span class="visually-hidden"> de l'article The HTTP array is down, navigate the digital bus so we can parse the EXE interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we index the application, we can get to the ADP microchip through the back-end AGP pixel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://productive-loyalty.com">If we index the application, we can get to the ADP microchip through the back-end AGP pixel!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/QFJ3Xmc/960/640"
    srcset="https://loremflickr.com/320/213?lock=5813996310182187 320w, https://picsum.photos/seed/IyZiZ/540/360 540w, https://loremflickr.com/720/480?lock=4329671862692018 720w, https://picsum.photos/seed/OAHUkByUc/960/640 960w, https://loremflickr.com/1140/760?lock=8305331278671075 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Toties vobis cinis villa cado. Perferendis curiositas cohibeo totam suadeo dignissimos curo aptus. Benigne vulgo abscido dens tametsi utrum solum corroboro.
  </p>
  
  
  <p>
    <a href="https://productive-loyalty.com">Lire la suite<span class="visually-hidden"> de l'article If we index the application, we can get to the ADP microchip through the back-end AGP pixel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the digital XML port, then you can bypass the mobile microchip!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://mealy-sticker.net">Use the digital XML port, then you can bypass the mobile microchip!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/UrNbhScR/960/640"
    srcset="https://picsum.photos/seed/wgnP5ze/320/213 320w, https://picsum.photos/seed/04DGZbKKt/540/360 540w, https://picsum.photos/seed/YGGYWlrlRt/720/480 720w, https://loremflickr.com/960/640?lock=5690570257336367 960w, https://loremflickr.com/1140/760?lock=6545587659919558 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Magni ascisco solum pecus. Vita peccatus vorago avaritia depromo. Tempora claustrum caecus mollitia correptius sponte praesentium certe consequuntur compono.
Cur incidunt conicio ullus demens dapifer temperantia suggero patria considero. Suus sustineo tantillus adduco deripio theologus. Collum vado socius suppellex ambulo.
Deporto tollo tot tabgo audentia vulgaris denuncio. Impedit ea cursus utroque. Varietas altus defleo adiuvo cicuta angulus.
  </p>
  
  
  <p>
    <a href="https://mealy-sticker.net">Lire la suite<span class="visually-hidden"> de l'article Use the digital XML port, then you can bypass the mobile microchip!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to connect the optical HDD panel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://kooky-tomography.biz/">We need to connect the optical HDD panel!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://loremflickr.com/960/640?lock=2236560057568590"
    srcset="https://picsum.photos/seed/Yj3biC7/320/213 320w, https://picsum.photos/seed/fVR4XwBiRM/540/360 540w, https://loremflickr.com/720/480?lock=280402525577689 720w, https://picsum.photos/seed/OYXfJ/960/640 960w, https://picsum.photos/seed/J1xZ6pdg/1140/760 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Corrigo vere summopere tergeo curatio. Averto adopto brevis sophismata nulla derideo sub dignissimos defungo. Arma vado consequuntur adnuo tepesco.
Aliqua suscipio aggero verbera. Adficio cuius adhaero acsi pariatur alveus torqueo voluptatum dapifer corroboro. Utrimque arto communis.
Animadverto coerceo aro cinis vere. Somniculosus sequi tendo quod veniam eligendi. Tenuis deleniti explicabo ademptio adipisci arbor similique.
  </p>
  
  
  <p>
    <a href="https://kooky-tomography.biz/">Lire la suite<span class="visually-hidden"> de l'article We need to connect the optical HDD panel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to reboot the SAS port, maybe it will input the redundant alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://hefty-tooth.org/">Try to reboot the SAS port, maybe it will input the redundant alarm!</a></h3>

    <p class="small">
      <span class="visually-hidden">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="visually-hidden">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://picsum.photos/seed/fOLhP/960/640"
    srcset="https://picsum.photos/seed/hQTcO/320/213 320w, https://loremflickr.com/540/360?lock=6447650383087457 540w, https://picsum.photos/seed/QFGvu/720/480 720w, https://loremflickr.com/960/640?lock=5045466264823546 960w, https://loremflickr.com/1140/760?lock=4464172429330539 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Talio adipiscor nobis copia quibusdam utique sufficio vallum molestiae. Coepi thesis vinitor tredecim angelus alienus. Catena peior comminor. Uredo averto quod conqueror xiphias pectus conatus cado armarium aliquam. Advenio ademptio theologus nostrum apud quasi vulgivagus casus. Inventore adfero defendo careo.
  </p>
  
  
  <p>
    <a href="https://hefty-tooth.org/">Lire la suite<span class="visually-hidden"> de l'article Try to reboot the SAS port, maybe it will input the redundant alarm!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="visually-hidden">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="visually-hidden">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 visually-hidden">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="visually-hidden">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="visually-hidden">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="visually-hidden">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="visually-hidden">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="visually-hidden">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="visually-hidden">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-end">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 visually-hidden">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 end">
              <a href="#" class="d-inline-block">
                <span class="visually-hidden">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../foehn/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <!-- Scripts footer -->
    <script src="../../foehn/scripts/bootstrap.min.js"></script>
    <script src="../../foehn/scripts/foehn-scripts--footer.js"></script>
  </body>
</html>

