

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="fr">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <title>Categories | Foehn</title>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../foehn/styles/main.css"
    />

    <!-- Scripts -->
    <script defer src="../../fontawesome/js/all.min.js"></script>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../foehn/img/favicon-apple-touch-icon.png?v=0.0.1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../foehn/img/favicon-32x32.png?v=0.0.1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../foehn/img/favicon-16x16.png?v=0.0.1"
    />
    <link
      rel="manifest"
      href="../../foehn/manifest/site.webmanifest?v=0.0.1"
    />
    <link
      rel="mask-icon"
      href="../../foehn/svg/safari-pinned-tab.svg?v=0.0.1"
      color="#4d8b43"
    />
    <link rel="shortcut icon" href="../../foehn/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#4d8b43" />
    <meta
      name="msapplication-TileImage"
      content="/foehn/img/favicon-mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="../../foehn/xml/browserconfig.xml?v=0.0.1"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="" class=""></a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock" aria-hidden="true"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a
  href="../accueil"
  class="vd-logo"
  title="Aller à la page d'accueil du Site du Canton de Vaud"
>
  <img
    src="../../foehn/svg/ETATVAUD.svg"
    class="vd-logo__image"
    alt="État de Vaud"
    aria-hidden="true"
  />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#culture"
    class="vd-domain-item__link vd-link-invisible h4">Culture</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#economie"
    class="vd-domain-item__link vd-link-invisible h4">Economie</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#environnement"
    class="vd-domain-item__link vd-link-invisible h4">Environnement</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#etat%2C%20droit%2C%20finance"
    class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#formation"
    class="vd-domain-item__link vd-link-invisible h4">Formation</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#mobilit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Mobilité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#sant%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Santé</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#social"
    class="vd-domain-item__link vd-link-invisible h4">Social</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#vie%20priv%C3%A9e"
    class="vd-domain-item__link vd-link-invisible h4">Vie privée</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#s%C3%A9curit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Sécurité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#territoire"
    class="vd-domain-item__link vd-link-invisible h4">Territoire</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1" aria-label="Fil d'Ariane">
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Autorités</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
      
    
      
        <li class="sr-only" aria-current="page">Actualité</li>
      
    
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Categorie: Agriculture</h1>

  </div>

  <div class="container mt-5 vd-content">
    
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="I&#39;ll input the neural RAM application, that should array the CSS alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://mae.fr">I&#39;ll input the neural RAM application, that should array the CSS alarm!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?75010"
    srcset="http://placeimg.com/320/213/?49268 320w, http://placeimg.com/540/360/?42512 540w, http://placeimg.com/720/480/?94798 720w, http://placeimg.com/960/640/?88064 960w, http://placeimg.com/1140/760/?29191 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Ea odit est illum quam autem. Sapiente ipsam et nihil autem. Placeat natus ut rerum. Id tempora vitae expedita doloribus.
  </p>
  
  
  <p>
    <a href="https://mae.fr">Lire la suite<span class="sr-only"> de l'article I&#39;ll input the neural RAM application, that should array the CSS alarm!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the multi-byte PCI firewall, then you can copy the 1080p monitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://noemie.name">Use the multi-byte PCI firewall, then you can copy the 1080p monitor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?26562"
    srcset="http://placeimg.com/320/213/?88557 320w, http://placeimg.com/540/360/?25055 540w, http://placeimg.com/720/480/?18986 720w, http://placeimg.com/960/640/?65072 960w, http://placeimg.com/1140/760/?11591 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Dolor numquam dolore expedita.
  </p>
  
  
  <p>
    <a href="http://noemie.name">Lire la suite<span class="sr-only"> de l'article Use the multi-byte PCI firewall, then you can copy the 1080p monitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to back up the HTTP monitor, maybe it will override the back-end alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://ike.net">Try to back up the HTTP monitor, maybe it will override the back-end alarm!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?68580"
    srcset="http://placeimg.com/320/213/?81070 320w, http://placeimg.com/540/360/?47933 540w, http://placeimg.com/720/480/?37919 720w, http://placeimg.com/960/640/?88256 960w, http://placeimg.com/1140/760/?2423 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Deserunt consequuntur deleniti. Doloribus doloremque aut amet voluptas dolorem facilis eveniet perferendis error. Neque temporibus facere consequuntur. Ullam non facere doloremque incidunt provident voluptas quo sint nulla. Quia itaque deleniti minima mollitia iusto aut necessitatibus.
 Eum non voluptate. Et nisi quia et asperiores occaecati. Praesentium cupiditate temporibus maxime dolores. Quam suscipit cupiditate sint ut dolorem. Magnam...
  </p>
  
  
  <p>
    <a href="https://ike.net">Lire la suite<span class="sr-only"> de l'article Try to back up the HTTP monitor, maybe it will override the back-end alarm!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we parse the interface, we can get to the IB bandwidth through the optical RSS sensor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://harmony.name">If we parse the interface, we can get to the IB bandwidth through the optical RSS sensor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?91158"
    srcset="http://placeimg.com/320/213/?73520 320w, http://placeimg.com/540/360/?81902 540w, http://placeimg.com/720/480/?40217 720w, http://placeimg.com/960/640/?49729 960w, http://placeimg.com/1140/760/?36453 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Voluptas natus perferendis aut earum omnis. Nemo aut culpa doloribus. Dolores vero recusandae et qui. Laborum ipsam rerum a excepturi quaerat quia harum modi saepe. Ut occaecati iure veniam sit aut.
  </p>
  
  
  <p>
    <a href="http://harmony.name">Lire la suite<span class="sr-only"> de l'article If we parse the interface, we can get to the IB bandwidth through the optical RSS sensor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can&#39;t input the matrix without hacking the optical EXE capacitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://keon.fr">You can&#39;t input the matrix without hacking the optical EXE capacitor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?69972"
    srcset="http://placeimg.com/320/213/?36201 320w, http://placeimg.com/540/360/?59201 540w, http://placeimg.com/720/480/?52501 720w, http://placeimg.com/960/640/?40478 960w, http://placeimg.com/1140/760/?2342 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Totam quis est.
  </p>
  
  
  <p>
    <a href="http://keon.fr">Lire la suite<span class="sr-only"> de l'article You can&#39;t input the matrix without hacking the optical EXE capacitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="parsing the capacitor won&#39;t do anything, we need to compress the back-end THX system!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://amara.org">parsing the capacitor won&#39;t do anything, we need to compress the back-end THX system!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?45647"
    srcset="http://placeimg.com/320/213/?80456 320w, http://placeimg.com/540/360/?41258 540w, http://placeimg.com/720/480/?7091 720w, http://placeimg.com/960/640/?30184 960w, http://placeimg.com/1140/760/?98931 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Accusamus voluptatibus iusto doloribus qui eligendi rerum sit quas. Aperiam sunt placeat reprehenderit ut soluta labore maxime facilis adipisci. Fugit id dolore et eaque ut qui optio quae. Saepe totam tempore qui ut rerum quidem. Quo consectetur repellat ut dolorem quibusdam. Eveniet reiciendis quos suscipit consectetur.
 Ea quia autem quos. Illo vel sunt nemo voluptatem animi molestias. Veritatis numquam explicabo eum enim voluptates occaecati...
  </p>
  
  
  <p>
    <a href="http://amara.org">Lire la suite<span class="sr-only"> de l'article parsing the capacitor won&#39;t do anything, we need to compress the back-end THX system!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the primary XSS panel, then you can navigate the auxiliary sensor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://pat.name">Use the primary XSS panel, then you can navigate the auxiliary sensor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?57596"
    srcset="http://placeimg.com/320/213/?21404 320w, http://placeimg.com/540/360/?17265 540w, http://placeimg.com/720/480/?92081 720w, http://placeimg.com/960/640/?42736 960w, http://placeimg.com/1140/760/?79568 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Sunt rerum aut ad sint expedita. Consequuntur ab vel maiores et iusto totam quia necessitatibus nesciunt. Nobis atque sit.
 Soluta ut aut adipisci maxime in quos. Voluptatem aut nemo est consequatur cupiditate quod ut sed ut. Omnis voluptas ipsa debitis sunt voluptatem et consectetur. Illum assumenda autem dignissimos. Veritatis officiis voluptas quaerat commodi vel illum molestiae impedit ut. Est et fugit et tenetur est suscipit dolorum.
 Eum...
  </p>
  
  
  <p>
    <a href="http://pat.name">Lire la suite<span class="sr-only"> de l'article Use the primary XSS panel, then you can navigate the auxiliary sensor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the haptic PCI pixel, then you can transmit the cross-platform bandwidth!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://garry.com">Use the haptic PCI pixel, then you can transmit the cross-platform bandwidth!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?41843"
    srcset="http://placeimg.com/320/213/?42646 320w, http://placeimg.com/540/360/?70232 540w, http://placeimg.com/720/480/?3216 720w, http://placeimg.com/960/640/?58422 960w, http://placeimg.com/1140/760/?11574 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Est magnam laborum sunt. Voluptatem magnam ex. Natus aliquam sapiente in quia voluptate labore error. Non aut necessitatibus animi omnis ea eum.
 Ut dignissimos et ducimus voluptatum sed non illo. Mollitia ea ducimus sint ipsa repellat sed. Consequatur vitae autem voluptatem illo et deleniti repellendus hic reprehenderit. Exercitationem enim maiores voluptatibus tenetur facere sit repudiandae quo. Cumque qui qui. Necessitatibus et possimus quia...
  </p>
  
  
  <p>
    <a href="https://garry.com">Lire la suite<span class="sr-only"> de l'article Use the haptic PCI pixel, then you can transmit the cross-platform bandwidth!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I&#39;ll index the bluetooth HTTP driver, that should firewall the SSL hard drive!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://jovan.name">I&#39;ll index the bluetooth HTTP driver, that should firewall the SSL hard drive!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?68635"
    srcset="http://placeimg.com/320/213/?14126 320w, http://placeimg.com/540/360/?11586 540w, http://placeimg.com/720/480/?57887 720w, http://placeimg.com/960/640/?52689 960w, http://placeimg.com/1140/760/?49891 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Itaque vitae quidem doloremque culpa. Repudiandae adipisci dolorum aut in nulla rerum et deserunt est. Sint magnam maxime aut enim. Reiciendis quia doloremque voluptatem porro voluptates id hic non reprehenderit.
  </p>
  
  
  <p>
    <a href="https://jovan.name">Lire la suite<span class="sr-only"> de l'article I&#39;ll index the bluetooth HTTP driver, that should firewall the SSL hard drive!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I&#39;ll copy the open-source CSS sensor, that should interface the SSL circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://naomie.name">I&#39;ll copy the open-source CSS sensor, that should interface the SSL circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?94290"
    srcset="http://placeimg.com/320/213/?18186 320w, http://placeimg.com/540/360/?46356 540w, http://placeimg.com/720/480/?432 720w, http://placeimg.com/960/640/?67248 960w, http://placeimg.com/1140/760/?92097 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Sunt rerum quo molestias architecto eum aut a eaque. Non sed et recusandae quod repudiandae repellat. Blanditiis cupiditate et asperiores commodi.
  </p>
  
  
  <p>
    <a href="https://naomie.name">Lire la suite<span class="sr-only"> de l'article I&#39;ll copy the open-source CSS sensor, that should interface the SSL circuit!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#" class="d-inline-block">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../foehn/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <!-- Scripts footer -->
    <script src="../../foehn/scripts/jquery.slim.min.js"></script>
    <script src="../../foehn/scripts/popper.min.js"></script>
    <script src="../../foehn/scripts/bootstrap.min.js"></script>
    <script src="../../foehn/scripts/foehn-scripts--footer.js"></script>
  </body>
</html>

