<!DOCTYPE html>
<html lang="fr" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../foehn/img/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/olive.css?cachebust=1.10.3" type="text/css">

<link rel="stylesheet" href="../../assets/styles/styleguide.css?cachebust=1.10.3" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.10.3" type="text/css">


<title>Error rendering component teaser-small | Foehn Design System</title>

</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>(unknown path)
  Error: Could not render component &#39;@numbered-title&#39; - component not found.</p>

    </div>
    
    <code class="Error-stack">
        <pre>Template render error: (unknown path)
  Error: Could not render component '@numbered-title' - component not found.
    at Object._prettifyError (/Users/cedricaellen/Projects/foehn-design-system/node_modules/nunjucks/src/lib.js:32:11)
    at /Users/cedricaellen/Projects/foehn-design-system/node_modules/nunjucks/src/environment.js:464:19
    at Template.root [as rootRenderFunc] (eval at _compile (/Users/cedricaellen/Projects/foehn-design-system/node_modules/nunjucks/src/environment.js:527:18), <anonymous>:28:3)
    at Template.render (/Users/cedricaellen/Projects/foehn-design-system/node_modules/nunjucks/src/environment.js:454:10)
    at Environment.renderString (/Users/cedricaellen/Projects/foehn-design-system/node_modules/nunjucks/src/environment.js:313:17)
    at Environment.promisified [as renderStringAsync] (/Users/cedricaellen/Projects/foehn-design-system/node_modules/bluebird/js/release/promisify.js:223:16)
    at NunjucksAdapter.render (/Users/cedricaellen/Projects/foehn-design-system/node_modules/@frctl/nunjucks/src/adapter.js:96:28)
    at ComponentSource._renderVariant (/Users/cedricaellen/Projects/foehn-design-system/node_modules/@frctl/fractal/src/api/components/source.js:212:30)
    at _renderVariant.next (<anonymous>)
    at onFulfilled (/Users/cedricaellen/Projects/foehn-design-system/node_modules/co/index.js:65:19)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.10.3"></script>



</body>
</html>
