

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="fr">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />

    <title>Default | Foehn</title>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../foehn/styles/main.css"
    />

    <!-- Scripts -->
    <script defer src="../../fontawesome/js/all.min.js"></script>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../foehn/img/favicon-apple-touch-icon.png?v=2.0.2"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../foehn/img/favicon-32x32.png?v=2.0.2"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../foehn/img/favicon-16x16.png?v=2.0.2"
    />
    <link
      rel="manifest"
      href="../../foehn/manifest/site.webmanifest?v=2.0.2"
    />
    <link
      rel="mask-icon"
      href="../../foehn/svg/safari-pinned-tab.svg?v=2.0.2"
      color="#4d8b43"
    />
    <link rel="shortcut icon" href="../../foehn/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#4d8b43" />
    <meta
      name="msapplication-TileImage"
      content="/foehn/img/favicon-mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="../../foehn/xml/browserconfig.xml?v=2.0.2"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="1" href="#main" title="[Alt+1] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="2" href="#search-form" title="[Alt+2] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="visually-hidden visually-hidden-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Page de contact">Page de contact</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex flex-wrap justify-content-between justify-content-md-end d-print-none">
      <section class="align-items-center d-flex d-print-none">
  <h2 class="visually-hidden">
    Sous-navigation
  </h2>
  <ul class="list-inline text-md-end small" >
    <li class="list-inline-item me-2">
      <a href="#">Autorités</a>
    </li>
    <li class="list-inline-item me-2">
      <a href="#">Annuaire</a>
    </li>
  </ul>
</section>

      <button
  id="login-button"
  type="button"
  class="btn btn-primary fs-6"
  data-bs-toggle="collapse"
  data-bs-target="#login-form-collapse"
  aria-expanded="false"
  aria-controls="login-form-collapse"
>
  Se connecter <span class="fas fa-chevron-down text-white ms-1" id="login-button-icon"></span>
</button>

<div id="login-form-collapse" class="border collapse p-3 shadow">
  <div class="d-flex flex-column mb-3">
    <div class="d-flex flex-row justify-content-between mb-2">
      <div class="p-2">
        <span class="h4">Espace sécurisé</span>
      </div>
    </div>
    <div class="mb-1 p-2">
      <span>
        Gérez facilement vos <a href="#">démarches administratives</a> en ligne pour les particuliers, entreprises, fondations et communes
      </span>
    </div>
    <div class="mb-3 p-2">
      <a class="btn btn-success mb-2 py-2 text-center w-100" href="#">
        Se connecter
        <span class="fas fa-external-link-alt me-1 text-white"></span>
      </a>
      <a class="btn btn-secondary py-2 text-center w-100" href="#">
        Créer un compte
      </a>
    </div>
    <div class="mb-2 p-2">
      <details>
        <summary>Exemples de démarches</summary>
        <ul>
          <li>Remplir et déposer sa déclaration d’impôt</li>
          <li>Consulter son dossier fiscal</li>
          <li>Remplacer son permis de conduire (particuliers)</li>
          <li>S’inscrire à la maturité professionnel post-CFC (étudiants)</li>
          <li>Obtenir une première autorisation frontalière (entreprise)</li>
          <li>Demander un soutien à un projet cultuel (associations)</li>
          <li>Accéder au registre cantonal des personnes (communes)</li>
        </ul>
      </details>
    </div>
    <div class="p-2">
      <a href="#">
        Aide en ligne
      </a>
    </div>
  </div>
  <div class="mb-3 px-2">
    <hr class="opacity-25">
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between mb-2">
      <div class="p-2">
        <span class="h4">Portail IAM</span>
      </div>
    </div>
    <div class="mb-1 p-2">
      <span>Accès aux applications pour les collaborateurs-trices de l’Etat de Vaud et les partenaires.</span>
    </div>
    <div class="mb-1 p-2">
      <a class="btn btn-success py-2 text-center w-100" href="#">
        Se connecter
        <span class="fas fa-external-link-alt me-1 text-white"></span>
      </a>
    </div>
    <div class="mb-1 p-2">
      <details>
        <summary>Exemples d’applications</summary>
        <ul>
          <li>ACTIS (Camac 2010)</li>
          <li>Easyvista</li>
          <li>LAGAPEO</li>
          <li>LA PLACE</li>
          <li>NEO</li>
          <li>PAREO</li>
          <li>Passerelle Employeur - Impôts à la source</li>
          <li>RCPers - Registre Cantonal des Personnes</li>
          <li>Réquisition - Désignation Electronique (ReqDes)</li>
          <li>RDU</li>
          <li>Themis</li>
          <li>Votelec - Dépouillement</li>
          <li>Wiki projets ACV</li>
        </ul>
      </details>
    </div>
    <div class="p-2">
      <a href="#">
        Aide en ligne
      </a>
    </div>
  </div>
</div>

    </div>
    <a
  href="../accueil"
  class="vd-logo"
  title="Aller à la page d'accueil du Site du Canton de Vaud"
>
  <img
    src="../../foehn/svg/ETATVAUD.svg"
    class="vd-logo__image"
    alt="État de Vaud"
    aria-hidden="true"
  />
</a>

  </div>
  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-md-end">
        <button type="button"
                class="btn btn-primary btn-sm vd-nav-primary__button align-self-end collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#nav-primary-container"
                aria-controls="nav-primary-container"
                aria-expanded="false">
          <div class="d-flex justify-content-between">
            <div>
              <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
              <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
            </div>
            <div>
              <span class="vd-nav-primary__button--open fas fa-plus"></span>
              <span class="vd-nav-primary__button--close fas fa-minus"></span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="visually-hidden">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#culture"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Culture</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(</span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#economie"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Economie</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(</span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#environnement"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Environnement</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(</span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#etat%2C%20droit%2C%20finance"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(</span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#formation"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Formation</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(</span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#mobilit%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Mobilité</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(</span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#sant%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Santé</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(</span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#social"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Social</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(</span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#vie%20priv%C3%A9e"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Vie privée</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(</span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#s%C3%A9curit%C3%A9"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Sécurité</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(</span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2">
  <a href="domaines#territoire"
     class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-2 vd-domain-item__link-container">
    <span class="vd-domain-item__link vd-link-invisible h4">Territoire</span>
    <span class="vd-domain-item__text">
      <span class="visually-hidden">(</span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="visually-hidden">)</span>
    </span>
  </a>
</li>

                  
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav aria-label="Fil d'Ariane">
  <h2 class="visually-hidden">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Communiqués de presse</a></li>
      
    
    
    
  </ol>
</nav>

    <h1 class="mt-0">Communiqués de presse</h1>
  </div>
</div>


<main class="container mt-5">
  <div class="vd-bg-pattern-bars-gray py-4 mt-3 mb-4 d-print-none">
    <div class="container">
      <form class="form" role="search">
        <div class="row">
          <div class="col-lg-3 col-xl-4">
            <div class="mb-3">
  <label for="search" class="h5 d-block mt-0">Rechercher<span class="visually-hidden"> les communiqués de presse</span></label>
  
  <input class="form-control"
         type="text"
         id="search"
         name="testInput"
         value="" required aria-required="true">
</div>

          </div>
          <div class="col-lg-9 col-xl-8 d-none d-md-block">
            <div class="row">
              <div class="col-6">
                <fieldset>
    <legend class="h5 mt-0">Publié du</legend>

    <div class="vd-form-flex">
      <div class="vd-form-flex__item vd-form-flex__item--2-char-width"><div class="mb-3">
  <label for="fromDatesDay" class="visually-hidden">Jour</label>
  
  <input class="form-control"
         type="number"
         id="fromDatesDay"
         name="testInput"
         value="" required aria-required="true" pattern="[0-9]*" min="1" max="31" size="2" placeholder="JJ">
</div>
</div>
      <div class="vd-form-flex__item vd-form-flex__item--2-char-width"><div class="mb-3">
  <label for="fromDatesMonth" class="visually-hidden">Mois</label>
  
  <input class="form-control"
         type="number"
         id="fromDatesMonth"
         name="testInput"
         value="" required aria-required="true" pattern="[0-9]*" min="1" max="12" size="2" placeholder="MM">
</div>
</div>
      <div class="vd-form-flex__item vd-form-flex__item--4-char-width"><div class="mb-3">
  <label for="fromDatesyear" class="visually-hidden">Année</label>
  
  <input class="form-control"
         type="number"
         id="fromDatesyear"
         name="testInput"
         value="" required aria-required="true" pattern="[0-9]*" min="1950" max="2017" size="4" placeholder="YYYY">
</div>
</div>
    </div>

  </fieldset>



              </div>
              <div class="col-6">
                <fieldset>
    <legend class="h5 mt-0">au</legend>

    <div class="vd-form-flex">
      <div class="vd-form-flex__item vd-form-flex__item--2-char-width"><div class="mb-3">
  <label for="toDatesDay" class="visually-hidden">Jour</label>
  
  <input class="form-control"
         type="number"
         id="toDatesDay"
         name="testInput"
         value="" required aria-required="true" pattern="[0-9]*" min="1" max="31" size="2" placeholder="JJ">
</div>
</div>
      <div class="vd-form-flex__item vd-form-flex__item--2-char-width"><div class="mb-3">
  <label for="toDatesMonth" class="visually-hidden">Mois</label>
  
  <input class="form-control"
         type="number"
         id="toDatesMonth"
         name="testInput"
         value="" required aria-required="true" pattern="[0-9]*" min="1" max="12" size="2" placeholder="MM">
</div>
</div>
      <div class="vd-form-flex__item vd-form-flex__item--4-char-width"><div class="mb-3">
  <label for="toDatesYear" class="visually-hidden">Année</label>
  
  <input class="form-control"
         type="number"
         id="toDatesYear"
         name="testInput"
         value="" required aria-required="true" pattern="[0-9]*" min="1950" max="2017" size="4" placeholder="YYYY">
</div>
</div>
    </div>

  </fieldset>



              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-dark me-4 mb-3 mb-sm-0">Rechercher</button>
        <a href="#" class="btn btn-secondary mb-3 mb-sm-0">Réinitialiser</a>
      </form>
    </div>
  </div>

  <div class="row">

    <div class="col-md-8">
      
      <h2 class="visually-hidden">Liste des communiqués de presse</h2>
      <div class="vd-teaser-list-striped">
  
  <article class="d-flex
                flex-column vd-teaser-list-striped-item px-3 pt-3">
    <header class="d-flex flex-column">
        <h3 class="mt-0 order-2">
            <a href="communiques-presse-detail" class="vd-link-invisible">Lorem
                ipsum dolor sit amet.</a>
        </h3>
        <p class="small mb-1 order-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </header>
    <p class="small fw-bold order-3">Publié le 1 juillet 2016</p>
    <div class="order-2">
        <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum,
        quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni
        explicabo nesciunt.</p>
    </div>
</article>

  
  <article class="d-flex
                flex-column vd-teaser-list-striped-item px-3 pt-3">
    <header class="d-flex flex-column">
        <h3 class="mt-0 order-2">
            <a href="communiques-presse-detail" class="vd-link-invisible">Lorem
                ipsum dolor sit amet.</a>
        </h3>
        <p class="small mb-1 order-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </header>
    <p class="small fw-bold order-3">Publié le 1 juillet 2016</p>
    <div class="order-2">
        <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum,
        quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni
        explicabo nesciunt.</p>
    </div>
</article>

  
  <article class="d-flex
                flex-column vd-teaser-list-striped-item px-3 pt-3">
    <header class="d-flex flex-column">
        <h3 class="mt-0 order-2">
            <a href="communiques-presse-detail" class="vd-link-invisible">Lorem
                ipsum dolor sit amet.</a>
        </h3>
        <p class="small mb-1 order-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </header>
    <p class="small fw-bold order-3">Publié le 1 juillet 2016</p>
    <div class="order-2">
        <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum,
        quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni
        explicabo nesciunt.</p>
    </div>
</article>

  
  <article class="d-flex
                flex-column vd-teaser-list-striped-item px-3 pt-3">
    <header class="d-flex flex-column">
        <h3 class="mt-0 order-2">
            <a href="communiques-presse-detail" class="vd-link-invisible">Lorem
                ipsum dolor sit amet.</a>
        </h3>
        <p class="small mb-1 order-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </header>
    <p class="small fw-bold order-3">Publié le 1 juillet 2016</p>
    <div class="order-2">
        <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum,
        quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni
        explicabo nesciunt.</p>
    </div>
</article>

  
  <article class="d-flex
                flex-column vd-teaser-list-striped-item px-3 pt-3">
    <header class="d-flex flex-column">
        <h3 class="mt-0 order-2">
            <a href="communiques-presse-detail" class="vd-link-invisible">Lorem
                ipsum dolor sit amet.</a>
        </h3>
        <p class="small mb-1 order-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </header>
    <p class="small fw-bold order-3">Publié le 1 juillet 2016</p>
    <div class="order-2">
        <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum,
        quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni
        explicabo nesciunt.</p>
    </div>
</article>

  
  <article class="d-flex
                flex-column vd-teaser-list-striped-item px-3 pt-3">
    <header class="d-flex flex-column">
        <h3 class="mt-0 order-2">
            <a href="communiques-presse-detail" class="vd-link-invisible">Lorem
                ipsum dolor sit amet.</a>
        </h3>
        <p class="small mb-1 order-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </header>
    <p class="small fw-bold order-3">Publié le 1 juillet 2016</p>
    <div class="order-2">
        <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum,
        quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni
        explicabo nesciunt.</p>
    </div>
</article>

  
  <article class="d-flex
                flex-column vd-teaser-list-striped-item px-3 pt-3">
    <header class="d-flex flex-column">
        <h3 class="mt-0 order-2">
            <a href="communiques-presse-detail" class="vd-link-invisible">Lorem
                ipsum dolor sit amet.</a>
        </h3>
        <p class="small mb-1 order-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </header>
    <p class="small fw-bold order-3">Publié le 1 juillet 2016</p>
    <div class="order-2">
        <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum,
        quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni
        explicabo nesciunt.</p>
    </div>
</article>

  
  <article class="d-flex
                flex-column vd-teaser-list-striped-item px-3 pt-3">
    <header class="d-flex flex-column">
        <h3 class="mt-0 order-2">
            <a href="communiques-presse-detail" class="vd-link-invisible">Lorem
                ipsum dolor sit amet.</a>
        </h3>
        <p class="small mb-1 order-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </header>
    <p class="small fw-bold order-3">Publié le 1 juillet 2016</p>
    <div class="order-2">
        <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum,
        quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni
        explicabo nesciunt.</p>
    </div>
</article>

  
  <article class="d-flex
                flex-column vd-teaser-list-striped-item px-3 pt-3">
    <header class="d-flex flex-column">
        <h3 class="mt-0 order-2">
            <a href="communiques-presse-detail" class="vd-link-invisible">Lorem
                ipsum dolor sit amet.</a>
        </h3>
        <p class="small mb-1 order-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </header>
    <p class="small fw-bold order-3">Publié le 1 juillet 2016</p>
    <div class="order-2">
        <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum,
        quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni
        explicabo nesciunt.</p>
    </div>
</article>

  
  <article class="d-flex
                flex-column vd-teaser-list-striped-item px-3 pt-3">
    <header class="d-flex flex-column">
        <h3 class="mt-0 order-2">
            <a href="communiques-presse-detail" class="vd-link-invisible">Lorem
                ipsum dolor sit amet.</a>
        </h3>
        <p class="small mb-1 order-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </header>
    <p class="small fw-bold order-3">Publié le 1 juillet 2016</p>
    <div class="order-2">
        <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum,
        quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni
        explicabo nesciunt.</p>
    </div>
</article>

  
</div>
<nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="visually-hidden">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="visually-hidden">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


      
    </div>

    <aside class="col-md-4 vd-text-md-small small">
      
      <address itemscope itemtype="http://schema.org/GovernmentOrganization">
  <div
    class="h2 mt-0"
    id="service-contact-title"
    itemprop="name">
    Bureau d&#39;information et de communication
  </div>

  

  

  

  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">Rue de la Barre 2</span>
        <br>
      Case postale <span itemprop="postOfficeBoxNumber">5278</span>
        <br>
      <span itemprop="postalCode">1000</span>&nbsp;
      <span itemprop="addressLocality">Lausanne</span>
      <span class="visually-hidden" itemprop="addressCountry">Suisse</span>
    </p>

  <p>
      
      
      <a
          href="https://www.google.ch/maps/search/Rue%20de%20la%20Barre%202%205278%201000%20Lausanne%20Suisse%20"
          id="google-maps-link">
          Visualiser sur la carte Google
        </a>
        <br>
      
    </p>

  <p>
      <a
        class="btn btn-dark"
        id="service-contact-contact-form-link"
        title="Nous écrire Formulaire de contact"
        href="#">
        Nous écrire
      </a>
    </p>

  

  

  
</address>


      <p class="mt-5">Les communiqués diffusés par les autres institutions de l'Etat sont disponible sur les pages suivantes:</p>
      <ul class="vd-list-links mb-5">
        <li><a href="#">communiqués de la Police cantonale</a></li>
        <li><a href="#">communiqués du Centre hospitalier universitaire vaudois (CHUV)</a></li>
        <li><a href="#">communiqués de l'Université de Lausanne</a></li>
      </ul>

      <p>
        <span class="fas fa-rss-square" aria-hidden="true"></span> <a href="#">Abonnement</a>
      </p>
      
    </aside>

  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 visually-hidden">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
    <li class="list-inline-item">
        <a class="mastodon-link vd-social-icon" href="#" title="Lien vers le profil Mastodon">
            <span aria-hidden="true" class="fa-brands fa-mastodon"></span>
            <span class="visually-hidden">Lien vers le profil Mastodon</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="bluesky-link vd-social-icon" href="#" title="Lien vers le profil Bluesky">
            <span aria-hidden="true" class="fa-bluesky fa-brands"></span>
            <span class="visually-hidden">Lien vers le profil Bluesky</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="instagram-link vd-social-icon" href="#" title="Lien vers le profil Instagram">
            <span aria-hidden="true" class="fa-brands fa-instagram"></span>
            <span class="visually-hidden">Lien vers le profil Instagram</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="linkedin-link vd-social-icon" href="#" title="Lien vers le profil Linkedin">
            <span aria-hidden="true" class="fa-brands fa-linkedin"></span>
            <span class="visually-hidden">Lien vers le profil Linkedin</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="facebook-link vd-social-icon" href="#" title="Lien vers le profil Facebook">
            <span aria-hidden="true" class="fa-brands fa-facebook"></span>
            <span class="visually-hidden">Lien vers le profil Facebook</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="twitter-link vd-social-icon" href="#" title="Lien vers le profil Twitter">
            <span aria-hidden="true" class="fa-brands fa-x-twitter"></span>
            <span class="visually-hidden">Lien vers le profil Twitter</span>
        </a>
    </li>
    <li class="d-lg-none list-inline-item">
        <a class="whatsapp-link vd-social-icon" href="#" title="Partager par WhatsApp">
            <span aria-hidden="true" class="fa-brands fa-whatsapp"></span>
            <span class="visually-hidden">Partager par WhatsApp</span>
        </a>
    </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-end">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 visually-hidden">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 end">
              <img aria-hidden="true" class="img-fluid footer-logo" src="../../foehn/svg/logo/logo--white.svg" alt="Canton de Vaud">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <!-- Scripts footer -->
    <script src="../../foehn/scripts/bootstrap.bundle.min.js"></script>
    <script src="../../foehn/scripts/foehn-scripts--footer.js"></script>
  </body>
</html>

